<div class="economic_sec1 active_animate">
  <div class="fadeInUp animate duration_05 ">
  <div class="contentCenter ">
    <h1 class="economic_sec1_h txt_white" i18n="economic-calendar|economic_sec1 header">Economic Calendar</h1>
    <div class="economic_sec1_info">

      <div class="economic_sec1_info_pc">
        <iframe  width="100%" height="100%" src="https://eforex.com/calendar/index.html" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no"></iframe>
      </div>

    </div>

  </div>
  </div>
</div>


