<!--<div class="active_animate">-->

<div class="liq_sec1" >
  <div class="active_animate">
  <div class="contentCenter fadeInUp animate duration_05">

    <h1 class="liq_sec1_h txt_white">Liquidity</h1>
    <div class="liq_sec1_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="liq_sec1_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <div class="liq_sec1_box_col_indent">
          <h2 class="liq_sec1_box_col_h">What Is a Clearing Account</h2>
          <div class="liq_sec1_box_col_case">
            <div class="liq_sec1_box_col_case_s1">
              <p>Once a new Forex or CFD firm is established, it will need a Clearing Account.</p>
            </div>
            <div class="liq_sec1_box_col_case_s2">
              <p>A Clearing Account is an account that allows FX or CFD firm to hedge its clients’ trades and mitigate a market risk.</p>
            </div>
            <div class="liq_sec1_box_col_case_s3">
              <p>Each successful and reputable FX or CFD firm will have a Clearing Account to manage adverse market conditions and clients’ trades.</p>
            </div>
            <div class="liq_sec1_box_col_case_s4">
              <p>eForex provides a Corporate Clearing Accounts with narrow spreads to FX and CFD firms.</p>
            </div>
            <div class="liq_sec1_box_col_case_s5">
              <p>A Firm can have a Clearing Account as an outright Corporate Account or as a Corporate API Account.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="liq_sec1_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <div class="liq_sec1_box_col_indent">
          <h2 class="liq_sec1_box_col_h">What Is a Liquidity Account</h2>
          <div class="liq_sec1_box_col_case">
            <div class="liq_sec1_box_col_case_s1">
              <p>Each FX or CFD firm, as the business grows, will need one or two Liquidity Accounts with different Counterparties to spread and mitigate its market risk.</p>
            </div>
            <div class="liq_sec1_box_col_case_s2">
              <p>A Liquidity Account is an account that allows FX or CFD firm to hedge its clients’ trades and mitigate a market risk among different Trading Counterparties.</p>
            </div>
            <div class="liq_sec1_box_col_case_s3">
              <p>Each successful and reputable FX or CFD firm will have a Clearing Account and one or two additional Liquidity Accounts to manage adverse market conditions and clients’ trades when there is a problem with one or the other Counterparty.</p>
            </div>
            <div class="liq_sec1_box_col_case_s4">
              <p>eForex provides a variety of Liquidity Accounts with narrow spreads and different margins to FX and CFD firms.</p>
            </div>
            <div class="liq_sec1_box_col_case_s5">
              <p>A Firm can have a Liquidity Account as an outright Corporate Account or as a Corporate API Account.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

  <!-- -->

  <div class="contentCenter_min">
    <h2 class="liq_sec1_h txt_white">How Do I Obtain One?</h2>
    <div class="step_box" fxLayout="column wrap" fxLayoutAlign="space-between center">
      <div class="step_box_item"><div class="step_icon"></div></div>

      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class=" animate fadeIn duration_14" >
          <p class="step_box_item_txt txt_white ">eForex Can Get You Started Right Away With Your Clearing or Liquidity Accounts.</p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_txt txt_white ">Please Fill Out the Form Below & We Will Email You Proper Account Opening Forms.
          </p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_txt txt_white">If You Need an API, Simply Request an NDA From <a class="txt_blue" href="mailto:support@eforex.com" aria-label="mail support@eforex.com">support@eforex.com</a> With Your Preferred API Model. eForex Server Fix API is Available.</p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
    </div>
  </div>

  </div>

  <div class="liq_sec2" >
    <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="100" fxFlex.gt-sm="38">
        <h2>Trading Desk Support & Assistance</h2>
        <p class="m_t_mob">Your calls and email will be answered ahead of every other customer.</p>
        <p class="m_t_mob">As a Liquidity or Clearing Account holder, you will have a direct 24/6 access to the Dealing Desk of eForex.</p>
        <p class="m_t_mob">eForex will provide you with a preferential access to the IT and Back Office Support.</p>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="55">
        <app-feedback-form class="black_form m_t_tab" formType="liquidity"></app-feedback-form>
      </div>
    </div>
  </div>

<!--</div>-->
