<div class="traderPc_sec1 active_animate">
  <div class="fadeInUp animate duration_05">
    <div class="contentCenter ">

      <h1 class="traderPc_sec1_h txt_white">Professional All-in-One Solution for Individual Traders</h1>
      <p class="traderPc_sec1_txt txt_white m_t_mob">Open & Manage Live and Training Accounts on eForex Platforms</p>
      <div class="traderPc_sec1_btn">
        <a href="https://my.eforex.com/registration.html" target="_blank" aria-label="Open eForex Account" rel="noreferrer noopener" class="btn btn_blue btn_mob">Open eForex Account</a>
      </div>
      <div class="traderPc_sec1_img">
        <picture>
          <source type="image/webp" srcset="/assets/traders-pc/top_img.webp 1x, /assets/traders-pc/top_img@2x.webp 2x ">
          <img  src="/assets/traders-pc/top_img.jpg" srcset="/assets/traders-pc/top_img.jpg 1x, /assets/traders-pc/top_img@2x.jpg 2x" alt="eForex Private Cabinet">
        </picture>
      </div>
    </div>

  </div>
</div>



<div class="traderPc_sec2">
  <div class="contentCenter ">

      <div class="traderPc_sec2_box " fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_1')">
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInLeft">
          <h2 class="txt_white width635">Over 15 Immediate Deposit Options at Your Choice</h2>
          <a href="https://my.eforex.com/registration.html?goto=/funds/index.html" target="_blank" aria-label="Deposit Now" rel="noreferrer noopener" class="btn btn_blue btn_mob m_t_mob">Deposit Now</a>
        </div>
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInRight">
          <picture>
            <source type="image/webp" srcset="/assets/traders-pc/sec2_img1.webp 1x, /assets/traders-pc/sec2_img1@2x.webp 2x ">
            <img  src="/assets/traders-pc/sec2_img1.jpg" srcset="/assets/traders-pc/sec2_img1.jpg 1x, /assets/traders-pc/sec2_img1@2x.jpg 2x" alt="eForex Private Cabinet Deposit">
          </picture>
        </div>
      </div>

      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_2')">
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInLeft">
          <picture>
            <source type="image/webp" srcset="/assets/traders-pc/sec2_img2.webp 1x, /assets/traders-pc/sec2_img2@2x.webp 2x ">
            <img  src="/assets/traders-pc/sec2_img2.jpg" srcset="/assets/traders-pc/sec2_img2.jpg 1x, /assets/traders-pc/sec2_img2@2x.jpg 2x" alt="eForex Private Cabinet Bonus">
          </picture>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInRight">
          <h2 class="txt_white width635">Apply for a Bonus Program in One Click</h2>

        </div>
      </div>

      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_3')">
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInLeft">
          <h2 class="txt_white width635">Variety of Trading Reports</h2>


        </div>
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInRight">
          <picture>
            <source type="image/webp" srcset="/assets/traders-pc/sec2_img3.webp 1x, /assets/traders-pc/sec2_img3@2x.webp 2x ">
            <img  src="/assets/traders-pc/sec2_img3.jpg" srcset="/assets/traders-pc/sec2_img3.jpg 1x, /assets/traders-pc/sec2_img3@2x.jpg 2x" alt="eForex Private Cabinet Reports">
          </picture>
        </div>
      </div>


      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_3')">
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInLeft">
          <picture>
            <source type="image/webp" srcset="/assets/traders-pc/sec2_img4.webp 1x, /assets/traders-pc/sec2_img4@2x.webp 2x ">
            <img  src="/assets/traders-pc/sec2_img4.jpg" srcset="/assets/traders-pc/sec2_img4.jpg 1x, /assets/traders-pc/sec2_img4@2x.jpg 2x" alt="eForex Private Cabinet Internal Transfers">
          </picture>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInRight">
          <h2 class="txt_white width635">Internal Transfers</h2>

        </div>
      </div>

    <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_3')">
      <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInLeft">
        <h2 class="txt_white width635">Electronic Agreements
          & Forms</h2>

      </div>
      <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInRight">
        <picture>
          <source type="image/webp" srcset="/assets/traders-pc/sec2_img5.webp 1x, /assets/traders-pc/sec2_img5@2x.webp 2x ">
          <img  src="/assets/traders-pc/sec2_img5.jpg" srcset="/assets/traders-pc/sec2_img5.jpg 1x, /assets/traders-pc/sec2_img5@2x.jpg 2x" alt="eForex Private Cabinet Electronic Agreements & Forms">
        </picture>
      </div>
    </div>

    <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_3')">
      <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInLeft">
        <picture>
          <source type="image/webp" srcset="/assets/traders-pc/sec2_img6.webp 1x, /assets/traders-pc/sec2_img6@2x.webp 2x ">
          <img  src="/assets/traders-pc/sec2_img6.jpg" srcset="/assets/traders-pc/sec2_img6.jpg 1x, /assets/traders-pc/sec2_img6@2x.jpg 2x" alt="eForex Private Cabinet Live Chat">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInRight">
        <h2 class="txt_white width635">24/6 Live Chat Assistance</h2>

      </div>
    </div>

  </div>
</div>

<div class="traderPc_sec3">
  <div class="contentCenter ">
    <div class="traderPc_sec3_box">
      <h2 class="traderPc_sec3_box_h txt_white">eForex Private Cabinet</h2>
      <p class="traderPc_sec3_box_txt txt_white m_t_mob">Open live and training accounts and get exclusive trading conditions with No Dealing Desk environment,
        enjoy immediate deposits and get the full advantage of the eForex Bonus programs.</p>
      <div class="traderPc_sec3_box_btn m_t_mob">
        <a href="https://my.eforex.com/registration.html" target="_blank" aria-label="Open eForex Account" rel="noreferrer noopener" class="btn btn_blue btn_mob">Open eForex Account</a>
      </div>
    </div>
  </div>
</div>




