<div class="traders_sec1 rubric active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h1 class="txt_white width635" i18n="traders|traders_sec1 header">Profitable Trading</h1>
      <div class="rubric_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">299+</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt1">Financial instruments to choose from. Including FX, CFDs on shares and commodities</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">DMA</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt2">Exclusive trading conditions with No Dealing Desk environment</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">400:1+</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt3">Flexible leverage to suit your trading experience and style.</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">0,4</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt4">pips target spreads on most majors</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">$0</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt5">Commissions or additional charges. The spread is all you pay.</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">0,01</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt6">Ability to trade micro lots</p>
        </div>

        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">$10</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec1 txt7">Start trading with as little as $10 initial investment.</p>
        </div>

      </div>
    </div>
    <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/traders/traders_sec1.webp 1x, /assets/traders/traders_sec1@2x.webp 2x ">
        <img  src="/assets/traders/traders_sec1.jpg" srcset="/assets/traders/traders_sec1.jpg 1x, /assets/traders/traders_sec1@2x.jpg 2x" i18n-alt="traders|traders_sec1 img1" alt="Profitable Trading">
      </picture>
    </div>
  </div>
</div>


<div class="traders_sec2 rubric">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/traders/traders_sec2.webp 1x, /assets/traders/traders_sec2@2x.webp 2x ">
        <img  src="/assets/traders/traders_sec2.jpg" srcset="/assets/traders/traders_sec2.jpg 1x, /assets/traders/traders_sec2@2x.jpg 2x" i18n-alt="traders|traders_sec2 img1" alt="Secure & Immediate Deposits & Withdrawals">
      </picture>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h2 class="traders_sec2_h width635" i18n="traders|traders_sec2 header">Secure & Immediate Deposits & Withdrawals</h2>
      <div class="rubric_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h ">1988</h4>
          <p class="rubric_box_col_txt  m_t_mob_s" i18n="traders|traders_sec2 txt1">In the market since 1988</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h ">14</h4>
          <p class="rubric_box_col_txt  m_t_mob_s" i18n="traders|traders_sec2 txt2">eForex Group – 14 Offices worldwide</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h ">AA</h4>
          <p class="rubric_box_col_txt  m_t_mob_s" i18n="traders|traders_sec2 txt3">Segregated client trust accounts with AA Rated banks</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h ">12</h4>
          <p class="rubric_box_col_txt  m_t_mob_s" i18n="traders|traders_sec2 txt4">Over 12 immediate deposit options at your choice - Bank Wire, Credit cards, Skrill, China Union and more</p>
        </div>

      </div>
    </div>

  </div>
</div>



<div class="traders_sec3 rubric">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h2 class="txt_white width635" i18n="traders|traders_sec3 header">We Are Near You With Professional Support</h2>
      <div class="rubric_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">14</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec3 txt1">Offices worldwide: Australia,  United Kingdom, UAE, Egypt and other</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">2500</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec3 txt2">Assistants worldwide ready to
            help. We speak your language</p>
        </div>
        <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">24/5</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec3 txt3">23 hour live chat facility, emails and telephone support. Real technical support, without redirections</p>
        </div>
        <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white" i18n="traders|traders_sec3 h4">Secure</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="traders|traders_sec3 txt4">Full self-service Secure Client Area
            for your account managing, education
            and tools</p>
        </div>

      </div>
    </div>
    <div class="rubric_img" fxFlex="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/traders/traders_sec3.webp 1x, /assets/traders/traders_sec3@2x.webp 2x ">
        <img  src="/assets/traders/traders_sec3.jpg" srcset="/assets/traders/traders_sec3.jpg 1x, /assets/traders/traders_sec3@2x.jpg 2x" i18n-alt="traders|traders_sec3 img1" alt="We Are Near You With Professional Support">
      </picture>
    </div>
  </div>
</div>




