<div class="about_sec1 active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="55">
      <h1 class="txt_white width730" i18n="about|about_sec1 header">Delivering Global Markets Locally, Since 1988</h1>
      <p class="txt_white m_t_mob width550" i18n="about|about_sec1 txt1">Whatever and wherever you want to trade, our trading platforms offer unparalleled access to the most liquid financial markets in the world. Online and mobile trading services ensure that you are never more than a click or two away from your next trade.</p>

      <p class="txt_white m_t_mob width550" i18n="about|about_sec1 txt2">Our team of expert account managers, traders, and customer support specialists are constantly available to provide you with personal support. You can trade the most well-known and most liquid financial products from a single screen through your brokerage account with eForex.</p>

      <p class="txt_white m_t_mob width550" i18n="about|about_sec1 txt3">Whether you are a seasoned trader, fund manager, or completely new - eForex has the right tools and resources to help you achieve your goals. Experience the unrivalled trading conditions from a true broker partner today.</p>
    </div>
    <div class="about_sec1_img"  fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/about/about_sec1.webp 1x, /assets/about/about_sec1@2x.webp 2x ">
        <img  src="/assets/about/about_sec1.jpg" srcset="/assets/about/about_sec1.jpg 1x, /assets/about/about_sec1@2x.jpg 2x" i18n-alt="about|about_sec1 img1" alt="Delivering Global Markets Locally, Since 1988">
      </picture>


    </div>
  </div>
</div>




