<div class="omnibus_sec1 active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex="100" fxFlex.gt-sm="55">
      <h1 class="txt_white width730">How Does the Omnibus White Label Business Work?</h1>
      <p class="txt_white m_t_mob width550">If you are setting up a company that would like to engage in selling financial products and you want to have your own identity and accept customer’s deposits, Omnibus White Label is the best way to go. eForex has the tools to set you up with your own Omnibus White Label IB Financial Business.</p>
      <a href="https://my.eforex.com/registrationIb.html" target="_blank" aria-label="Get Your Omnibus Broker" rel="noreferrer noopener" class="btn_xl btn_mob btn_blue m_t_mob ">Get Your Omnibus Broker</a>
    </div>
    <div class="omnibus_sec1_img"  fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/omnibus/omnibus_sec1.webp 1x, /assets/omnibus/omnibus_sec1@2x.webp 2x ">
        <img  src="/assets/omnibus/omnibus_sec1@2x.jpg" srcset="/assets/omnibus/omnibus_sec1.jpg 1x, /assets/omnibus/omnibus_sec1@2x.jpg 2x" alt="eForex Omnibus">
      </picture>

    </div>
  </div>
</div>


<div class="omnibus_sec2" >
  <div class="contentCenter_min">
    <div class="step_box" fxLayout="column wrap" fxLayoutAlign="space-between center">
      <div class="step_box_item"><div class="step_icon"></div></div>

      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class=" animate fadeIn duration_14" >
          <p class="step_box_item_n">Step 1</p>
          <h2 class="step_box_item_h txt_white">CONTACT US</h2>
          <div class="step_box_item_icon ib_step1 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob">Your firm would have to contact our sales department or send an email to <a href="mailto:support@eforex.com" aria-label="mail support@eforex.com">support@eforex.com</a>, eForex employees speak five major languages - English, Arabic, Russian and Spanish.
          </p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n">Step 2</p>
          <h2 class="step_box_item_h txt_white">OMNIBUS WL AGREEMENT</h2>
          <div class="step_box_item_icon ib_step2 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob">Contact <a href="mailto:support@eforex.com" aria-label="mail support@eforex.com">support@eforex.com</a> for the required paperwork. We offer the option to create your own professional website hosted by eForex, your own client registration link that will tag accounts under your Omnibus WL.</p>
          <p class="step_box_item_txt txt_white m_t_mob">You can copy the information from our website to your own URL hosted by your internet provider. You will need to create your own application online or printable.</p>
          <p class="step_box_item_txt txt_white m_t_mob">Your clients fill out your firm own applications and you do your own Anti Money Laundering and Know Your Customer approval every Financial Institution is now required to do this, no matter where you are located in the world.</p>
          <p class="step_box_item_txt txt_white m_t_mob">You will need to have your own Bank Account. You will open accounts for your own clients and make a record.</p>

        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n">Step 3</p>
          <h2 class="step_box_item_h txt_white">GET PAID</h2>
          <div class="step_box_item_icon ib_step3 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob">You will receive an email from us that will include the following: your WL IB number, your own website in your own language hosted by eForex (optional), your own demo system and your own online application that will tag your customers and identify them at eForex as yours.</p>
          <p class="step_box_item_txt txt_white m_t_mob">You will have the Trading Platform to be branded with your Company name and logo, Demo and Real.</p>



        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
    </div>
  </div>
</div>


<div class="omnibus_sec4">
  <div class="contentCenter">
    <div class="info_ico v2" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="info_ico_col" fxFlex="100" fxFlex.gt-sm="31">
        <div class="info_ico_col_indent">
          <div class="info_ico_col_top">
            <div class="info_ico_col_top_icon omnibus_icon1"></div>
          </div>
          <p class="info_ico_col_txt">You have an existing client base and wish to generate revenue by offering customized Financial services and products to your customers, as you, your customers, and your sales people dictate.</p>
        </div>
      </div>
      <div class="info_ico_col" fxFlex="100" fxFlex.gt-sm="31">
        <div class="info_ico_col_indent">
          <div class="info_ico_col_top">
            <div class="info_ico_col_top_icon omnibus_icon2"></div>
          </div>
          <p class="info_ico_col_txt">You don‘t want to deal with a partner that doesn‘t understand your business or your customer base and you want to be independent.</p>
        </div>
      </div>
      <div class="info_ico_col" fxFlex="100" fxFlex.gt-sm="31">
        <div class="info_ico_col_indent">
          <div class="info_ico_col_top">
            <div class="info_ico_col_top_icon omnibus_icon3"></div>
          </div>
          <p class="info_ico_col_txt">You want to be counterparty for your clients to complement your reputation as a market maker and as an independent service provider. It is your firm, your trademark, your logo, your software and your own rules.</p>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="omnibus_sec3" >
  <div class="contentCenter">
    <h2 class="omnibus_sec3_h txt_white">eForex Will Provide You</h2>
    <div class="omnibus_sec3_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="omnibus_sec3_box_col" fxFlex="100" fxFlex.gt-sm="32.4">
        <div class="omnibus_sec3_box_col_img omnibus_sec3_img1"></div>
        <h3 class="omnibus_sec3_box_col_h">PERSONAL WEBSITE</h3>
        <p class="omnibus_sec3_box_col_txt txt_white">With your own website and in a language you understand, eForex will provide you with your own registration link that will tag your customers and ensure they don’t get lost among all other customers. </p>
      </div>
      <div class="omnibus_sec3_box_col" fxFlex="100" fxFlex.gt-sm="32.4">
        <div class="omnibus_sec3_box_col_img omnibus_sec3_img2"></div>
        <h3 class="omnibus_sec3_box_col_h">FULL EDUCATIONAL PROCESS</h3>
        <p class="omnibus_sec3_box_col_txt txt_white">You and your clients will get access to a complete educational course of trading on Forex, CFDs, and Equities; how to choose a trading strategy and a complete guide on how to trade on eForex.
        </p>
      </div>
      <div class="omnibus_sec3_box_col" fxFlex="100" fxFlex.gt-sm="32.4">
        <div class="omnibus_sec3_box_col_img omnibus_sec3_img3"></div>
        <h3 class="omnibus_sec3_box_col_h">BACK OFFICE ACCESS</h3>
        <p class="omnibus_sec3_box_col_txt txt_white">You will also have access to see the back office of your demo system and work with your demo leads. You or your sales people can effectively follow up with each demo lead.</p>
      </div>
    </div>
    <div class="omnibus_sec3_btn">
      <a href="https://my.eforex.com/registrationIb.html" target="_blank" aria-label="Get Your Omnibus Broker" rel="noreferrer noopener" class="btn_xl btn_mob btn_blue">Get Your Omnibus Broker</a>
    </div>
  </div>
</div>
