<div class="wl_sec1 active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex="100" fxFlex.gt-sm="55">
      <h1 class="txt_white width730">How Does the White Label Introducing Broker Business Work?</h1>
      <p class="txt_white m_t_mob width550">If you are setting up a company that would like to engage in selling Financial products and you want to have your own identity – WL is the best way to go. eForex has the tools to set you up with your own White Label IB Financial Business.</p>
      <a href="https://my.eforex.com/registrationIb.html" target="_blank" aria-label="Get Your White Label" rel="noreferrer noopener" class="btn_xl btn_mob btn_blue m_t_mob">Get Your White Label</a>
    </div>
    <div class="wl_sec1_img"  fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/wl/wl_sec1.webp 1x, /assets/wl/wl_sec1@2x.webp 2x ">
        <img  src="/assets/wl/wl_sec1.jpg" srcset="/assets/wl/wl_sec1.jpg 1x, /assets/wl/wl_sec1@2x.jpg 2x" alt="White Label">
      </picture>
    </div>
  </div>
</div>


<div class="wl_sec2" >
  <div class="contentCenter_min">
    <div class="step_box" fxLayout="column wrap" fxLayoutAlign="space-between center">
      <div class="step_box_item"><div class="step_icon"></div></div>

      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class=" animate fadeIn duration_14" >
          <p class="step_box_item_n">Step 1</p>
          <h2 class="step_box_item_h txt_white">CONTACT US</h2>
          <div class="step_box_item_icon ib_step1 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob">Your firm would have to contact our sales department or send an email to <a href="mailto:support@eforex.com" aria-label="mail support@eforex.com">support@eforex.com</a>, eForex employees speak five major languages - English, Arabic, Russian and Spanish.</p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_22')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n">Step 2</p>
          <h2 class="step_box_item_h txt_white">WL AGREEMENT</h2>
          <div class="step_box_item_icon ib_step2 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob">Sign up through the Private Cabinet, sign the electronic agreement and get approved in just a few minutes. You will get your unique eForex WL Number, a Certificate signed by eForex, your own WL-branded platform, option to create your own professional website hosted by eForex, and your own client registration link that will tag accounts under your WL. You can also order a WL-branded Private Cabinet to track your clients and overall business.</p>
        </div>
      </div>
      <div class="step_box_item"><div class="step_icon"></div></div>
    </div>
  </div>
</div>

<div class="wl_sec3" >
  <div class="contentCenter">
    <h2 class="wl_sec3_h">eForex Will Provide You</h2>
    <div class="wl_sec3_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="wl_sec3_box_col" fxFlex="100" fxFlex.gt-sm="32.4">
        <div class="wl_sec3_box_col_img wl_sec3_img1"></div>
        <h3 class="wl_sec3_box_col_h">PERSONAL WEBSITE</h3>
        <p class="wl_sec3_box_col_txt">With your own website and in a language you understand, eForex will provide you with your own registration link that will tag your customers and ensure they don’t get lost among all other customers. </p>
      </div>
      <div class="wl_sec3_box_col" fxFlex="100" fxFlex.gt-sm="32.4">
        <div class="wl_sec3_box_col_img wl_sec3_img2"></div>
        <h3 class="wl_sec3_box_col_h">FULL EDUCATIONAL PROCESS</h3>
        <p class="wl_sec3_box_col_txt">You and your clients will get access to a complete educational course of trading on Forex, CFDs, and Equities; how to choose a trading strategy and a complete guide on how to trade on MT4.
        </p>
      </div>
      <div class="wl_sec3_box_col" fxFlex="100" fxFlex.gt-sm="32.4">
        <div class="wl_sec3_box_col_img wl_sec3_img3"></div>
        <h3 class="wl_sec3_box_col_h">BACK OFFICE ACCESS</h3>
        <p class="wl_sec3_box_col_txt">You will also have a back office access to your branded IB business and monitor your live & demo clients. You can effectively follow up with each client, convert leads into real clients, run various reports, see your monthly income, etc.</p>
      </div>
    </div>
    <div class="wl_sec3_btn">
      <a href="https://my.eforex.com/registrationIb.html" target="_blank" aria-label="Apply for a White Label" rel="noreferrer noopener" class="btn_xl btn_mob btn_blue">Apply for a White Label</a>
    </div>
  </div>
</div>
