<div class="bonus_page active_animate">

<div class="bonus_sec1 fadeInUp animate duration_05">

  <div class="contentCenter " >

    <h1 class="bonus_sec1_h txt_white width940" i18n="bonus|bonus_page header1">GET 30% BONUS FROM YOUR DEPOSIT </h1>
    <div class="bonus_sec1_box" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex="100" fxFlex.gt-sm="55" >
        <h2 class="txt_white width730" i18n="bonus|bonus_sec1 header">HOW IT WORKS?</h2>
        <p class="txt_white m_t_mob width550" i18n="bonus|bonus_sec1 txt1">New or existing accounts at eForex For Trading in Currencies, Metals and Commodities Co who enroll in the Bonus Program and make a qualifying deposit will receive a deposit bonus up to $15,000! The more you deposit, the more bonus funds you receive. Trading requirements do apply. See the Terms and Conditions for more information.</p>

        <p class="txt_white m_t_mob width550" i18n="bonus|bonus_sec1 txt2">In order to apply for a bonus program, please proceed to the bonus section of the eForex For Trading in Currencies, Metals and Commodities Co Private Cabinet.</p>

        <!--<div class="bonus_sec1_box_btn" >-->
          <a href="https://my.eforex.com/login.html" target="_blank" rel="nofollow" i18n-aria-label="bonus button 1|@@bonus_btn1" aria-label="Get Bonus Now" class="btn btn_arrow btn_mob m_t_mob" i18n="@@bonus_btn1">Get Bonus Now</a>
        <!--</div>-->

    </div>
    <div class="about_sec1_img"  fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/bonus/bonus_sec1.webp 1x, /assets/bonus/bonus_sec1@2x.webp 2x ">
        <img  src="/assets/bonus/bonus_sec1.jpg" srcset="/assets/bonus/bonus_sec1.jpg 1x, /assets/bonus/bonus_sec1@2x.jpg 2x" i18n-alt="bonus|bonus_sec1 img1" alt="GET 30% BONUS FROM YOUR DEPOSIT">
      </picture>


    </div>
  </div>
  </div>

</div>


<div class="bonus_sec2">
  <div class="contentCenter" >
    <div class="bonus_sec2_box">
      <table  class="table_gray_bl ">
        <thead>
        <tr>
          <th i18n="bonus|table td 1">Deposit</th>
          <th i18n="bonus|table td 2">Bonus</th>
          <th i18n="bonus|table td 3">Required Lots (Round Turn Requirement)</th>
        </tr>
        </thead>
        <tbody>


        <tr> <td> $500-$999 </td> <td> $150 </td> <td> 30 </td> </tr>
        <tr> <td> $1,000-$1,999 </td> <td> $300 </td> <td> 60 </td> </tr>
        <tr> <td> $2,000-$2,999 </td> <td> $600 </td> <td> 100 </td> </tr>
        <tr> <td> $3,000-$3,999 </td> <td> $900 </td> <td> 180 </td> </tr>
        <tr> <td> $4,000-$4,999 </td> <td> $1200 </td> <td> 240 </td> </tr>
        <tr> <td> $5,000-$5,999 </td> <td> $1,500 </td> <td> 300 </td> </tr>
        <tr> <td> $6,000-$6,999 </td> <td> $1,800 </td> <td> 360 </td> </tr>
        <tr> <td> $7,000-$7,999 </td> <td> $2,100 </td> <td> 420 </td> </tr>
        <tr> <td> $8,000-$8,999 </td> <td> $2,400 </td> <td> 480 </td> </tr>
        <tr> <td> $9,000-$9,999 </td> <td> $2,700 </td> <td> 540 </td> </tr>
        <tr> <td> $10,000-$14,999 </td> <td> $3,000 </td> <td> 600 </td> </tr>
        <tr> <td> $15,000-$19,999 </td> <td> $4,500 </td> <td> 900 </td> </tr>
        <tr> <td> $20,000-$24,999 </td> <td> $6,000 </td> <td> 1200 </td> </tr>
        <tr> <td> $25,000-$29,999 </td> <td> $7,500 </td> <td> 1500</td> </tr>
        <tr> <td> $30,000-$34,999 </td> <td> $9,000 </td> <td> 1800 </td> </tr>
        <tr> <td> $35,000-$39,999 </td> <td> $10,500 </td> <td> 2100 </td> </tr>
        <tr> <td> $40,000-$49,999 </td> <td> $12,000 </td> <td> 2400 </td> </tr>
        <tr> <td> $50,000 and above </td> <td> $15,000</td> <td> 3000 </td> </tr>


        </tbody>
      </table>
    </div>
    <div class="bonus_sec2_desc">
      <ul class="list_info_s info_white m_t_mid">
        <li class="txt_white" i18n="bonus|bonus_sec2 txt3">1 lot shall be equal to 1 industry standard lot or 10 mini lots on eForex.</li>
        <li class="txt_white" i18n="bonus|bonus_sec2 txt4">is for Forex trading only. Round Turn Requirements are calculated ONLY on Forex Products, no CFDs on Futures, Commodities or Equities.</li>
        <li class="txt_white" i18n="bonus|bonus_sec2 txt5">Any internal transfer from eForex For Trading in Currencies, Metals and Commodities Co accounts shall not be considered as a deposit for Promotion purposes.</li>
      </ul>
      <p class="m_t_mob_s txt_white" i18n="bonus|bonus_sec2 txt6">In order to apply for a bonus program, please proceed to the bonus section of the Private Cabinet</p>

    </div>
  </div>
</div>

<div class="bonus_sec3">
  <div class="contentCenter_big" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="35">
      <h2 class="txt_white bonus_sec3_h" i18n="bonus|bonus_sec3 header2">BONUS REQUEST FORM</h2>
      <h3 class="txt_white m_t_mob" i18n="bonus|bonus_sec3 header3">Fill Your Contact Info.</h3>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="55">
      <app-bonus-form></app-bonus-form>
    </div>
  </div>
</div>
</div>




