<div class="partners_sec1 rubric active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h1 class="txt_white width635" i18n="for-partners|partners_sec1 header">Earn Continuous Commissions For Introducing New Traders To eForex</h1>
      <p class="txt_white m_t_mob width580" i18n="for-partners|partners_sec1 txt1">Our introducing broker or (IB) program is a great opportunity to receive significant compensation for introducing new clients to eForex.</p>
      <p class="txt_white m_t_mob width580" i18n="for-partners|partners_sec1 txt2">If you want to increase your revenues and be a successful introducing broker, contributing to eForex will increase your sales and can provide more privileges.</p>
      <p class="txt_white m_t_mob width580" i18n="for-partners|partners_sec1 txt3">We are ready to discuss the best ways to get our mutual partnership started. Feel free to contact us and find out more about IB broker program via email or chat with one of our specialists.</p>
    </div>
    <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/partners/partners_sec1.webp 1x, /assets/partners/partners_sec1@2x.webp 2x ">
        <img  src="/assets/partners/partners_sec1.jpg" srcset="/assets/partners/partners_sec1.jpg 1x, /assets/partners/partners_sec1@2x.jpg 2x" i18n-alt="for-partners|partners_sec1 img1" alt="Earn Continuous Commissions For Introducing New Traders To eForex">
      </picture>

    </div>
  </div>
</div>


<div class="partners_sec2">
  <div class="contentCenter">
    <h2 class="partners_sec2_h" i18n="for-partners|partners_sec2 header">Why Clients Prefer eForex</h2>
    <div class="info_ico" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="info_ico_col" fxFlex="100" fxFlex.gt-sm="33">
        <div class="info_ico_col_indent">
          <div class="info_ico_col_top">
            <div class="info_ico_col_top_icon partners_icon1"></div>
          </div>
          <p class="info_ico_col_txt" i18n="for-partners|partners_sec2 txt1">Premium educational materials</p>
        </div>
      </div>
      <div class="info_ico_col" fxFlex="100" fxFlex.gt-sm="33">
        <div class="info_ico_col_indent">
          <div class="info_ico_col_top">
            <div class="info_ico_col_top_icon partners_icon2"></div>
          </div>
          <p class="info_ico_col_txt" i18n="for-partners|partners_sec2 txt2">Financial strength, transparency and stability</p>
        </div>
      </div>
      <div class="info_ico_col" fxFlex="100" fxFlex.gt-sm="33">
        <div class="info_ico_col_indent ">
          <div class="info_ico_col_top">
            <div class="info_ico_col_top_icon partners_icon3"></div>
          </div>
          <p class="info_ico_col_txt" i18n="for-partners|partners_sec2 txt3">No Dealing Desk execution</p>
        </div>
      </div>
    </div>
    <div class="partners_sec2_btn">
      <a href="https://my.eforex.com/registrationIb.html" i18n-aria-label="for-partners button 1|@@for_partners_btn1" aria-label="BECOME AN IB" rel="noreferrer noopener" target="_blank" i18n="@@for_partners_btn1" class="btn btn_mob btn_blue">BECOME AN IB</a>
    </div>
  </div>
</div>



<div class="partners_sec3 rubric">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h2 class="txt_white width635" i18n="for-partners|partners_sec3 header">Here is Just Some of the Benefits to be an IB With eForex</h2>
      <div class="rubric_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">1</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="for-partners|partners_sec3 txt1">Industry leading back office technology to track business and compensation</p>
        </div>
        <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">2</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="for-partners|partners_sec3 txt2">Readymade promo banners, affiliate links and educational materials
          </p>
        </div>
        <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">3</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="for-partners|partners_sec3 txt3">Real time revenue generation and reporting</p>
        </div>
        <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">4</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="for-partners|partners_sec3 txt4">Broad suite of client platforms in multiple languages</p>
        </div>
        <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
          <h4 class="rubric_box_col_h txt_white">5</h4>
          <p class="rubric_box_col_txt txt_white m_t_mob_s" i18n="for-partners|partners_sec3 txt5">24-hour customer support</p>
        </div>

      </div>
    </div>
    <div class="rubric_img" fxFlex="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/partners/partners_sec3.webp 1x, /assets/partners/partners_sec3@2x.webp 2x ">
        <img  src="/assets/partners/partners_sec3.jpg" srcset="/assets/partners/partners_sec3.jpg 1x, /assets/partners/partners_sec3@2x.jpg 2x" i18n-alt="for-partners|partners_sec3 img1" alt="Here is Just Some of the Benefits to be an IB With eForex">
      </picture>
    </div>
  </div>
</div>

<div class="partners_sec4">
  <div class="contentCenter_min">
      <h2 class="txt_white partners_sec4_h" i18n="for-partners|partners_sec4 header">HOW TO BECOME AN INTRODUCING BROKER</h2>
    <div class="step_box m_t_tab" fxLayout="column wrap" fxLayoutAlign="space-between center">
      <div class="step_box_item"><div class="step_icon"></div></div>

      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class=" animate fadeIn duration_14" >
          <p class="step_box_item_n" i18n="for-partners|partners_sec4 txt1">Step 1</p>
          <h2 class="step_box_item_h txt_white" i18n="for-partners|partners_sec4 h1">Register as IB</h2>
          <div class="step_box_item_icon ib_step1 m_t_mob"></div>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n" i18n="for-partners|partners_sec4 txt2">Step 2</p>
          <h2 class="step_box_item_h txt_white" i18n="for-partners|partners_sec4 h2">Choose Schedule</h2>
          <div class="step_box_item_icon partner1 m_t_mob"></div>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n" i18n="for-partners|partners_sec4 txt3">Step 3</p>
          <h2 class="step_box_item_h txt_white" i18n="for-partners|partners_sec4 h3">Sign Agreement</h2>
          <div class="step_box_item_icon ib_step2 m_t_mob"></div>

        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n" i18n="for-partners|partners_sec4 txt4">Step 4</p>
          <h2 class="step_box_item_h txt_white" i18n="for-partners|partners_sec4 h4">Take Profit</h2>
          <div class="step_box_item_icon ib_step3 m_t_mob"></div>

        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>

      <a href="https://my.eforex.com/registrationIb.html" i18n-aria-label="for-partners button 2|@@for_partners_btn2" aria-label="BECOME AN IB" rel="noreferrer noopener" target="_blank" i18n="@@for_partners_btn2" class="btn btn_blue btn_mob m_t_tab">BECOME AN IB</a>

    </div>
  </div>
</div>
