<div class="ib_sec1 active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="55">
      <h1 class="ib_sec1_h txt_white width730" i18n="ib|ib_sec1 header">Welcome to the eForex Introducing Broker (IB) Program!</h1>
      <p class="txt_white m_t_mob width550" i18n="ib|ib_sec1 txt1">Are you ready to tap into a lucrative opportunity that allows you to increase your potential sources of income while helping others navigate the exciting world of forex trading?</p>
      <p class="txt_white m_t_mob width550" i18n="ib|ib_sec1 txt2">Introducing the eForex Introducing Broker (IB) Program—a gateway to both financial growth and exceptional trading experiences for your referred clients.</p>
      <div class="ib_sec1_btn m_t_mob" fxFlex="100">
        <a href="https://my.eforex.com/registrationIb.html" target="_blank" i18n-aria-label="ib button 1|@@ib_btn1" aria-label="Become an IB" rel="noreferrer noopener" i18n="@@ib_btn1" class="btn btn_mob btn_blue m_t_mob">Become an IB</a>
        <a href="https://my.eforex.com/login.html" target="_blank" i18n-aria-label="ib button 2|@@ib_btn2" aria-label="IB Login" rel="noreferrer noopener" i18n="@@ib_btn2" class="btn btn_mob btn_white_b ">IB Login</a>
      </div>
    </div>
    <div class="ib_sec1_img"  fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/ib/ib_sec1.webp 1x, /assets/ib/ib_sec1@2x.webp 2x ">
        <img  src="/assets/ib/ib_sec1.jpg" srcset="/assets/ib/ib_sec1.jpg 1x, /assets/ib/ib_sec1@2x.jpg 2x" i18n-alt="ib|ib_sec1 img1" alt="Welcome to the eForex Introducing Broker (IB) Program!">
      </picture>
    </div>
  </div>
</div>

<div class="ib_sec2">
  <div class="contentCenter">
    <h2 class="ib_sec2_h" i18n="ib|ib_sec2 header">Why Choose the eForex IB Program?</h2>
    <div class="ib_sec2_box" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <div fxFlex="100" fxFlex.gt-sm="30">
        <picture class="ib_sec2_box_img">
          <source type="image/webp" srcset="/assets/ib/ib_1.webp 1x, /assets/ib/ib_1@2x.webp 2x ">
          <img  src="/assets/ib/ib_1.jpg" srcset="/assets/ib/ib_1.jpg 1x, /assets/ib/ib_1@2x.jpg 2x" i18n-alt="ib|ib_sec2 img1" alt="Earn Together">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="60" fxLayout="row wrap" fxLayoutAlign="start center">
        <div>
          <h4 class="ib_sec2_box_h" i18n="ib|ib_sec2 h1">Earn Together:</h4>
          <p class="ib_sec2_box_txt m_t_mob_s" i18n="ib|ib_sec2 txt1">When you introduce new traders, you're not just helping them – you're also creating an opportunity for yourself to make money</p>
        </div>
      </div>
    </div>

    <div class="ib_sec2_box bg_blue">
      <h2 class="ib_sec2_box_hBlue txt_white" i18n="ib|ib_sec2 hblue1">Daily Payouts up to $25 per standard lot – Your Business, Your Earnings</h2>
    </div>

    <div class="ib_sec2_box" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <div class="img_lp" fxFlex="100" fxFlex.gt-sm="50">
        <picture class="ib_sec2_box_img">
          <source type="image/webp" srcset="/assets/ib/ib_2.webp 1x, /assets/ib/ib_2@2x.webp 2x ">
          <img  src="/assets/ib/ib_2.jpg" srcset="/assets/ib/ib_2.jpg 1x, /assets/ib/ib_2@2x.jpg 2x" i18n-alt="ib|ib_sec2 img2" alt="Empowerment through Advanced Tools">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="row wrap" fxLayoutAlign="start center">
        <div>
          <h4 class="ib_sec2_box_h" i18n="ib|ib_sec2 h2">Empowerment through Advanced Tools:</h4>
          <p class="ib_sec2_box_txt m_t_mob_s" i18n="ib|ib_sec2 txt2">Your referred traders will get access to a powerful trading platform with real-time information and tools to help them trade smarter</p>
        </div>
      </div>
    </div>
    <div class="ib_sec2_box" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <div fxFlex="100" fxFlex.gt-sm="30">
        <picture class="ib_sec2_box_img">
          <source type="image/webp" srcset="/assets/ib/ib_3.webp 1x, /assets/ib/ib_3@2x.webp 2x ">
          <img  src="/assets/ib/ib_3.jpg" srcset="/assets/ib/ib_3.jpg 1x, /assets/ib/ib_3@2x.jpg 2x" i18n-alt="ib|ib_sec2 img3" alt="Diverse Trading Opportunities">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="60" fxLayout="row wrap" fxLayoutAlign="start center">
        <div>
         <h4 class="ib_sec2_box_h" i18n="ib|ib_sec2 h3">Diverse Trading Opportunities:</h4>
          <p class="ib_sec2_box_txt m_t_mob_s" i18n="ib|ib_sec2 txt3">We offer many different ways to trade, so your referred traders can explore and find what works best for them</p>
        </div>
      </div>
    </div>

    <div class="ib_sec2_box bg_blue">
      <h2 class="ib_sec2_box_hBlue txt_white" i18n="ib|ib_sec2 hblue2">Your Earnings Grow with Your Clientele!</h2>
      <h3 class="ib_sec2_box_txtBlue m_t_mob_s txt_white" i18n="ib|ib_sec2 txtblue1">The more clients you bring in, the more you earn. We keep rewarding you as long as your clients trade with us</h3>
    </div>

    <div class="ib_sec2_box" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <div class="img_lp" fxFlex="100" fxFlex.gt-sm="50">
        <picture class="ib_sec2_box_img">
          <source type="image/webp" srcset="/assets/ib/ib_4.webp 1x, /assets/ib/ib_4@2x.webp 2x ">
          <img  src="/assets/ib/ib_4.jpg" srcset="/assets/ib/ib_4.jpg 1x, /assets/ib/ib_4@2x.jpg 2x" i18n-alt="ib|ib_sec2 img4" alt="Support All Around">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="row wrap" fxLayoutAlign="start center">
        <div>
          <h4 class="ib_sec2_box_h" i18n="ib|ib_sec2 h4">Support All Around:</h4>
          <p class="ib_sec2_box_txt m_t_mob_s" i18n="ib|ib_sec2 txt4">We're here to help you and your referred traders, making sure everyone gets the assistance they need</p>
        </div>
      </div>
    </div>
    <div class="ib_sec2_box" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <div fxFlex="100" fxFlex.gt-sm="30">
        <picture class="ib_sec2_box_img">
          <source type="image/webp" srcset="/assets/ib/ib_5.webp 1x, /assets/ib/ib_5@2x.webp 2x ">
          <img src="/assets/ib/ib_5.jpg" srcset="/assets/ib/ib_5.jpg 1x, /assets/ib/ib_5@2x.jpg 2x" i18n-alt="ib|ib_sec2 img5" alt="Effective Marketing Resources">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="60" fxLayout="row wrap" fxLayoutAlign="start center">
        <div>
          <h4 class="ib_sec2_box_h" i18n="ib|ib_sec2 h5">Effective Marketing Resources:</h4>
          <p class="ib_sec2_box_txt m_t_mob_s" i18n="ib|ib_sec2 txt5">Use our materials to show others the benefits of trading and attract more traders to join your network</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ib_sec3" >
  <div class="contentCenter_min">
    <div class="step_box" fxLayout="column wrap" fxLayoutAlign="space-between center">

      <h2 class="ib_sec3_h txt_white" i18n="ib|ib_sec3 header">How Does the Introducing Broker Business Work?</h2>

      <div class="step_box_item"><div class="step_icon"></div></div>

      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class=" animate fadeIn duration_14" >
          <p class="step_box_item_n" i18n="ib|ib_sec3 txt1">Step 1</p>
          <h2 class="step_box_item_h txt_white" i18n="ib|ib_sec3 h1">CONTACT US</h2>
          <div class="step_box_item_icon ib_step1 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob" i18n="ib|ib_sec3 txt2">You or your firm would have to contact our sales department or send an email to <a href="mailto:support@eforex.com" aria-label="mail support@eforex.com">support@eforex.com</a>, eForex employees speak five major languages - English, Arabic, Russian and Spanish - and will answer your questions.</p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n" i18n="ib|ib_sec3 txt3">Step 2</p>
          <h2 class="step_box_item_h txt_white" i18n="ib|ib_sec3 h2">IB AGREEMENT</h2>
          <div class="step_box_item_icon ib_step2 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob" i18n="ib|ib_sec3 txt4">Sign up as an IB through the Private Cabinet, sign the electronic agreement and get approved in just a few minutes. You will get your unique eForex IB Number, a Certificate signed by eForex, option to create your own professional website hosted by eForex, and your own client registration link that will tag accounts under your IB.</p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
      <div class="step_box_item" inViewport (inViewportAction)="highlightTile($event,'section_2_2')" >
        <div class="animate fadeIn duration_14">
          <p class="step_box_item_n" i18n="ib|ib_sec3 txt5">Step 3</p>
          <h2 class="step_box_item_h txt_white" i18n="ib|ib_sec3 h3">GET PAID</h2>
          <div class="step_box_item_icon ib_step3 m_t_mob"></div>
          <p class="step_box_item_txt txt_white m_t_mob" i18n="ib|ib_sec3 txt6">eForex offers online rebates and commissions payments to all IBs. You don’t have to wait till the end of the month to get paid.</p>
          <p class="step_box_item_txt txt_white m_t_mob" i18n="ib|ib_sec3 txt7">You and/or your firm will be paid from eForex on each trade your customer makes. (According to your IB schedule). As an IB of eForex, you will see how many trades your customers made, what financial instruments they traded, and how much you are getting paid, right from your Private Cabinet. All numbers are taken from the IB agreement.</p>
        </div>
      </div>

      <div class="step_box_item"><div class="step_icon"></div></div>
    </div>
  </div>
</div>


