<div class="deposit_sec active_animate">
  <div class="contentCenter_min " >
    <div class="fadeInUp animate duration_05">
   <h1 class="deposit_sec_h txt_white" i18n="contact-us|sec1 header">Contact Us</h1>

    <app-feedback-form class="contact_fedback m_t_tab"></app-feedback-form>

    <div  class="contact_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="contact_box_col" fxFlex="100" fxFlex.gt-sm="45">
        <h3 class="txt_white" i18n="contact-us|contact_box h1">Address</h3>
        <p class="txt_white m_t_mob_s">Rue de Teouma, Pot 460222,</p>
        <p class="txt_white m_t_mob_s">Lagoon 2, Port Vila, Vanuatu</p>
      </div>
      <div class="contact_box_col" fxFlex="100" fxFlex.gt-sm="45">
        <h3 class="txt_white" i18n="contact-us|contact_box h2">Phone</h3>
        <p class="txt_white m_t_mob_s">+1 (857) 272-8887</p>
        <p class="messenger txt_white m_t_mob_s" ><a href="https://wa.me/message/2PBJP654TZ4BO1" target="_blank" rel="nofollow" i18n-aria-label="contact-us button 1|@@contact_btn1" aria-label="Message eForex on WhatsApp" i18n="@@contact_btn1">Message eForex on WhatsApp</a></p>
      </div>
    </div>

  </div>
  </div>
</div>










































