<div class="mm_sec1 rubric active_animate">
  <div class="fadeInUp animate duration_05">
    <div class="contentCenter">
      <h1 class="mm_sec1_h txt_white">MONEY MANAGERS</h1>
      <div class="mm_sec1_indent" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="100" fxFlex.gt-sm="48">
          <h2 class="txt_white width635">Servicing CFD/FX Money Managers</h2>
          <p class="m_t_mob txt_white">If you are a licensed Money Manager in a country, where you are residing and searching for alternative investment vehicles, you may want to look at FX and CFD products. </p>
          <p class="m_t_mob txt_white">Unlike managing traditional equities and futures portfolio, investing in FX and CFDs allows a Money Manager to utilize a greater leverage and abilities to go long and short at the same time. </p>
          <p class="m_t_mob txt_white">Additionally, a tremendous liquidity of the FX market and 24/6 operation enables a money manager to trade around a clock.</p>
        </div>
        <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
          <picture>
            <source type="image/webp" srcset="/assets/money-manager/mm_sec1.webp 1x, /assets/money-manager/mm_sec1@2x.webp 2x ">
            <img  src="/assets/money-manager/mm_sec1.jpg" srcset="/assets/money-manager/mm_sec1.jpg 1x, /assets/money-manager/mm_sec1@2x.jpg 2x" alt="Servicimg CFD/FX Money Managers">
          </picture>



        </div>
      </div>

      <div class="mm_sec1_indent" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
          <picture>
            <source type="image/webp" srcset="/assets/money-manager/mm_sec1_1.webp 1x, /assets/money-manager/mm_sec1_1@2x.webp 2x ">
            <img  src="/assets/money-manager/mm_sec1_1.jpg" srcset="/assets/money-manager/mm_sec1_1.jpg 1x, /assets/money-manager/mm_sec1_1@2x.jpg 2x" alt="USING eForex TECHNOLOGY">
          </picture>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="48">
          <h2 class="txt_white width635">USING eForex TECHNOLOGY</h2>
          <p class="m_t_mob txt_white">Perfect solution for Money Managers, who want to focus more on trading and marketing rather than handling all the back office functions associated with finding clients, setting up and maintaining accounts.</p>
          <p class="m_t_mob txt_white">At eForex we offer an access to various trading platforms and easy reports.</p>
          <p class="m_t_mob txt_white"> At eForex we give Money Managers more time to introduce new investors that want exposure to the benefits of FX and CFDs trading without the worries and hassles associated with self-trading.</p>
          <p class="m_t_mob txt_white">Managed Accounts are a good way for investors to get introduced to FX and CFDs while leaving the trading to Professionals such as you.</p>
        </div>
      </div>

      <div class="mm_sec1_indent" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="100" fxFlex.gt-sm="48">
          <h2 class="txt_white width635">CFD/FX MONEY MANAGER BENEFITS</h2>
          <div class="rubric_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
              <h4 class="rubric_box_col_h txt_white">1</h4>
              <p class="rubric_box_col_txt txt_white m_t_mob_s">Comprehensive trading platforms.</p>
            </div>
            <div class="rubric_box_col" fxFlex="100" fxFlex.gt-xs="42">
              <h4 class="rubric_box_col_h txt_white">2</h4>
              <p class="rubric_box_col_txt txt_white m_t_mob_s">Commissions earned from a leveraged products.</p>
            </div>
            <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
              <h4 class="rubric_box_col_h txt_white">3</h4>
              <p class="rubric_box_col_txt txt_white m_t_mob_s">24/7 Reporting functionality to you and your clients.</p>
            </div>
            <div class="rubric_box_col"  fxFlex="100" fxFlex.gt-xs="42">
              <h4 class="rubric_box_col_h txt_white">4</h4>
              <p class="rubric_box_col_txt txt_white m_t_mob_s">Selection of most liquid Financial Products.</p>
            </div>


          </div>
        </div>
        <div class="rubric_img" fxFlex="40" fxShow.gt-sm fxHide>
          <picture>
            <source type="image/webp" srcset="/assets/money-manager/mm_sec1_2.webp 1x, /assets/money-manager/mm_sec1_2@2x.webp 2x ">
            <img  src="/assets/money-manager/mm_sec1_2.jpg" srcset="/assets/money-manager/mm_sec1_2.jpg 1x, /assets/money-manager/mm_sec1_2@2x.jpg 2x" alt="CFD/FX MONEY MANAGER BENEFITS">
          </picture>
        </div>
      </div>

    </div>

    <div class="contentCenter_big">
      <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">

          <div fxFlex="100" fxFlex.gt-sm="40">
            <h2>Leave Your Contact Details & We Will Call You Back</h2>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="55">
            <app-feedback-form class="black_form form_btn_new" formType="money-manager"></app-feedback-form>
          </div>

      </div>
    </div>

  </div>
</div>


<div class="mm_sec2">
  <div class="contentCenter">
    <h2 class="mm_sec2_width">eForex MT4 MAM Trader For:</h2>
    <mat-tab-group class="tab_black tab_v2 m_t_mob" mat-align-tabs="start"  animationDuration="0ms" dynamicHeight>
      <mat-tab label="Desktop">
        <div class="mm_sec2_img">
          <div class="mm_sec2_img_indent">
            <div class="mm_sec2_img_part1 animate fadeInLeft delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/desktop/desktop_1.webp 1x, /assets/money-manager/desktop/desktop_1@2x.webp 2x ">
                <img  src="/assets/money-manager/desktop/desktop_1.jpg" srcset="/assets/money-manager/desktop/desktop_1.jpg 1x, /assets/money-manager/desktop/desktop_1@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Desktop">
              </picture>
            </div>
            <div class="mm_sec2_img_part2 animate fadeInRight delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/desktop/desktop_2.webp 1x, /assets/money-manager/desktop/desktop_2@2x.webp 2x ">
                <img  src="/assets/money-manager/desktop/desktop_2.jpg" srcset="/assets/money-manager/desktop/desktop_2.jpg 1x, /assets/money-manager/desktop/desktop_2@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Desktop">
              </picture>
            </div>
            <div class="mm_sec2_img_part3 animate fadeInLeft delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/desktop/desktop_3.webp 1x, /assets/money-manager/desktop/desktop_3@2x.webp 2x ">
                <img  src="/assets/money-manager/desktop/desktop_3.jpg" srcset="/assets/money-manager/desktop/desktop_3.jpg 1x, /assets/money-manager/desktop/desktop_3@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Desktop">
              </picture>
            </div>
          </div>
        </div>
        <div class="width635">
          <p class="animate fadeInUp delay_01">The First Multi Account Trader Application embedded within the MT4 Terminal.</p>
          <p class="animate fadeInUp delay_02 m_t_mob">The eForex MAM Trader was designed specifically for Professional Traders and Money Managers as a convenient trading tool to operate multiple MT4 trading accounts simultaneously, while trading from one Master Account.</p>
          <p class="animate fadeInUp delay_03 m_t_mob">The eForex MAM Trader system is the first and only allocation tool to be integrated within the MT4 platform will not interfere with other non-MAM Trader MT4 client terminals.</p>
        </div>
        <div class="mm_sec2_box ">
          <h2 class="width635 animate fadeIn delay_04">MULTI-ACCOUNT TRADER CLIENT FEATURES:</h2>
          <div class="animate fadeIn delay_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">1</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Login To One MT4 Terminal</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">2</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Allocate Trades To Multiple Sub Accounts</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">3</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Flexible Allocation Parameters – Lot, Free Margin, Percentage, Balance or Equity</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">4</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Display All Trades In A Tree Structure</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">5</p>
              <p class="mm_sec2_box_txt m_t_mob_s">MetaQuotes Approved MT4 Integration</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">6</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Embedded Inside Native MT4 Terminal</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">7</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Ability To Close Individual Sub-Accounts Trades</p>
            </div>
            <div class="mm_sec2_box_txt m_t_tab" fxHide fxShow.gt-xs fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">

            </div>
          </div>
        </div>
        <div class="mm_sec2_urlbox animate fadeInUp delay_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
          <div class="mm_sec2_urlbox_col" fxFlex="100">
            <h2 class="mm_sec2_urlbox_col_h">Download MAM Trader</h2>
            <div class="mm_sec2_urlbox_col_btn m_t_mob">
              <a href="http://ucdn.bmfn.com/installs/bmfnmamtrader.exe" target="_blank" rel="noreferrer noopener" aria-label="Download" class="btn_xl btn_blue btn_mob">Download</a>
            </div>
            <p class="mm_sec2_urlbox_col_txt m_t_mob_s">Windows 7 or greater, Microsoft .Net Framework 4.0 or greater.</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Web">
        <div class="mm_sec2_img">
          <div class="mm_sec2_img_indent">
            <div class="mm_sec2_img_part1 animate fadeInLeft delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/web/web_1.webp 1x, /assets/money-manager/web/web_1@2x.webp 2x ">
                <img  src="/assets/money-manager/web/web_1.jpg" srcset="/assets/money-manager/web/web_1.jpg 1x, /assets/money-manager/web/web_1@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Web">
              </picture>
            </div>
            <div class="mm_sec2_img_part2 animate fadeInRight delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/web/web_2.webp 1x, /assets/money-manager/web/web_2@2x.webp 2x ">
                <img  src="/assets/money-manager/web/web_2.jpg" srcset="/assets/money-manager/web/web_2.jpg 1x, /assets/money-manager/web/web_2@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Web">
              </picture>
            </div>
            <div class="mm_sec2_img_part3 animate fadeInLeft delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/web/web_3.webp 1x, /assets/money-manager/web/web_3@2x.webp 2x ">
                <img  src="/assets/money-manager/web/web_3.jpg" srcset="/assets/money-manager/web/web_3.jpg 1x, /assets/money-manager/web/web_3@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Web">
              </picture>
            </div>
          </div>
        </div>
        <div class="width635">
          <p class="animate fadeInUp delay_01">The eForex MAM Trader brings all the functionality of the MT4 Multi Account Trader to a web based platform for ultimate flexibility.</p>
          <p class="m_t_mob animate fadeInUp delay_02">The eForex MAM Trader system is the first and only allocation tool to be integrated within a web based platform that can be integrated into MT4 infrastructure or serve as a standalone web based platform.</p>
        </div>
        <div class="mm_sec2_box ">
          <h2 class="width635 animate fadeIn delay_04">MULTI-ACCOUNT TRADER CLIENT FEATURES:</h2>
          <div class="animate fadeIn delay_05"  fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">1</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Single login to a Master account</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">2</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Allocate Trades To Multiple Sub Accounts</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">3</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Flexible Allocation Parameters – Lot, Free Margin, Percentage, Balance or Equity</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">4</p>
              <p class="mm_sec2_box_txt m_t_mob_s">Display All Trades in a ‘Subs’ tab</p>
            </div>
            <div class="m_t_tab" fxFlex="100" fxFlex.gt-xs="45" fxFlex.gt-sm="22">
              <p class="mm_sec2_box_h">5</p>
              <p class="mm_sec2_box_txt m_t_mob_s">MAT Can Run EAs On Any Number Of Accounts</p>
            </div>

          </div>
        </div>
        <div class="mm_sec2_urlbox animate fadeInUp delay_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
          <div class="mm_sec2_urlbox_col" fxFlex="100" fxFlex.gt-sm="49">
            <h2 class="mm_sec2_urlbox_col_h">MT CFD</h2>
            <div class="mm_sec2_urlbox_col_btn m_t_mob">
              <a href="https://mtcfdlive.bmfn.com:8443/web/desktop.html" target="_blank" rel="noreferrer noopener" aria-label="CFD Live Server Login" class="btn_xl btn_blue btn_mob">CFD Live Server Login</a>
            </div>
            <div class="mm_sec2_urlbox_col_btn m_t_mob">
              <a href="https://mtcfddemo.bmfn.com:8443/web/desktop.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="CFD Demo Server Login">CFD Demo Server Login</a>
            </div>
          </div>
          <div class="mm_sec2_urlbox_col" fxFlex="100" fxFlex.gt-sm="49">
            <h2 class="mm_sec2_urlbox_col_h">MT FX</h2>
            <div class="mm_sec2_urlbox_col_btn m_t_mob">
              <a href="https://mtfxlive.bmfn.com:8443/web/desktop.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="FX Live Server Login">FX Live Server Login</a>
            </div>
            <div class="mm_sec2_urlbox_col_btn m_t_mob">
              <a href="https://mtfxdemo.bmfn.com:8443/web/desktop.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="FX Demo Server Login">FX Demo Server Login</a>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Mobile">
        <div class="mm_sec2_img">
          <div class="mm_sec2_img_indent">
            <div class="mm_sec2_img_part1 animate fadeInLeft delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/mob/mob_1.webp 1x, /assets/money-manager/mob/mob_1@2x.webp 2x ">
                <img  src="/assets/money-manager/mob/mob_1.jpg" srcset="/assets/money-manager/mob/mob_1.jpg 1x, /assets/money-manager/mob/mob_1@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Mobile">
              </picture>
            </div>
            <div class="mm_sec2_img_part2 animate fadeInRight delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/mob/mob_2.webp 1x, /assets/money-manager/mob/mob_2@2x.webp 2x ">
                <img  src="/assets/money-manager/mob/mob_2.jpg" srcset="/assets/money-manager/mob/mob_2.jpg 1x, /assets/money-manager/mob/mob_2@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Mobile">
              </picture>
            </div>
            <div class="mm_sec2_img_part3 animate fadeInLeft delay_01">
              <picture>
                <source type="image/webp" srcset="/assets/money-manager/mob/mob_3.webp 1x, /assets/money-manager/mob/mob_3@2x.webp 2x ">
                <img  src="/assets/money-manager/mob/mob_3.jpg" srcset="/assets/money-manager/mob/mob_3.jpg 1x, /assets/money-manager/mob/mob_3@2x.jpg 2x" alt="eForex MT4 MAM Trader For:Mobile">
              </picture>
            </div>
          </div>
        </div>
        <div class="width635">
          <p class="animate fadeInUp delay_01"> eForex MAM Trader for Mobile and Tablet allows to trade on any mobile device over WiFi or standard cellular networks. The system is designed to maximize a trader’s experience on smaller screens without compromise or the complexity of a native application.

          <p class="m_t_mob animate fadeInUp delay_02"> No installation for the client side. Can work over GPRS/EDGE networks as well as other slower channels (uses 200KB to download). Supports any proxy or VPN.

          <p class="m_t_mob animate fadeInUp delay_03">Supports iPad, iPad 2, iPad mini, iPhone 3G and later as well as Android 2.2 +. The system also supports retina and other high density screens. Each customer will be able to set or modify trade positions with the touch of a finger on their tablet.

          <p class="m_t_mob animate fadeInUp delay_04">Click up or down for each individual digit, and easily submit your modification. Switch between the modification screen and graphs with one touch.

        </div>

        <div class="mm_sec2_urlbox animate fadeInUp delay_05" >
          <div class="mm_sec2_urlbox_col" fxLayout="row wrap" fxLayoutAlign="space-between start" >
            <div fxFlex="100"> <h2 class="mm_sec2_urlbox_col_h">Tablet</h2></div>
            <div fxFlex="100" fxFlex.gt-sm="33">
                <div class="mm_sec2_urlbox_col_btn m_t_mob">
                  <a href="http://mtfxlive.bmfn.com/web/tablet.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="FX Live Tablet Login">FX Live Tablet Login</a>
                </div>
                <div class="mm_sec2_urlbox_col_btn m_t_mob">
                  <a href="http://mtfxdemo.bmfn.com/web/tablet.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="FX Demo Tablet Login">FX Demo Tablet Login</a>
                </div>
              </div>
            <div fxFlex="100" fxFlex.gt-sm="33">
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtcfdlive.bmfn.com/web/tablet.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="CFD Live Tablet Login">CFD Live Tablet Login</a>
              </div>
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtcfddemo.bmfn.com/web/tablet.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="CFD Demo Tablet Login">CFD Demo Tablet Login</a>
              </div>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33">

              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtdma.bmfn.com/web/tablet.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="DMA Live Tablet Login">DMA Live Tablet Login</a>
              </div>
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtdmademo.bmfn.com/web/tablet.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="DMA Demo Tablet Login">DMA Demo Tablet Login</a>
              </div>
            </div>
          </div>

        </div>

        <div class="m_t_tab animate fadeInUp delay_06" >
          <div class="mm_sec2_urlbox_col" fxLayout="row wrap" fxLayoutAlign="space-between start" >
            <div fxFlex="100"> <h2 class="mm_sec2_urlbox_col_h">Mobile</h2></div>
            <div fxFlex="100" fxFlex.gt-sm="33">
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtfxlive.bmfn.com/web/mobile.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="FX Live Mobile Login">FX Live Mobile Login</a>
              </div>
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtfxdemo.bmfn.com/web/mobile.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="FX Demo Mobile Login">FX Demo Mobile Login</a>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33">
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtcfdlive.bmfn.com/web/mobile.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="CFD Live Mobile Login">CFD Live Mobile Login</a>
              </div>
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtcfddemo.bmfn.com/web/mobile.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="CFD Demo Mobile Login">CFD Demo Mobile Login</a>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33">

              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtdma.bmfn.com/web/mobile.html" class="btn_xl btn_blue btn_mob" target="_blank" rel="noreferrer noopener" aria-label="DMA Live Mobile Login">DMA Live Mobile Login</a>
              </div>
              <div class="mm_sec2_urlbox_col_btn m_t_mob">
                <a href="http://mtdmademo.bmfn.com/web/mobile.html" class="btn_xl btn_blue_b btn_mob" target="_blank" rel="noreferrer noopener" aria-label="DMA Demo Mobile Login">DMA Demo Mobile Login</a>
              </div>
            </div>
          </div>

        </div>

      </mat-tab>

    </mat-tab-group>
  </div>
</div>
