<div class="active_animate" [style.height.px]="navService.clientHeight">
<div class="index_sec1 "  fxLayout="row wrap" fxLayoutAlign="center center">

      <div class="index_sec1_bg">
        <div class="index_sec1_bg_more1 animate animate__zoomIn delay_01"></div>
        <div class="index_sec1_bg_more2 animate animate__zoomIn delay_01"></div>
        <div class="index_sec1_bg_more3 animate animate__zoomIn delay_01"></div>
      </div>

</div>
</div>

<div class="index_sec2">
  <div class="contentCenter">
    <div class="infoLine_box noMargin theme2" fxLayout="row wrap" fxLayoutAlign="space-between start">

      <div class="infoLine_box_col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="50">
        <div class="infoLine_box_col_indent">
          <h5 class="infoLine_box_col_h">90,000+</h5>
          <p class="infoLine_box_col_txt m_t_mob_s" i18n="home|index_sec2 txt1">Active Traders Globally Choose eForex Every Day</p>
        </div>
      </div>
      <div class="infoLine_box_col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="50">
        <div class="infoLine_box_col_indent">
          <h5 class="infoLine_box_col_h" >16,000+</h5>
          <p class="infoLine_box_col_txt m_t_mob_s" i18n="home|index_sec2 txt2">Partners Trust eForex With Their Business</p>
        </div>
      </div>
      <div class="infoLine_box_col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="50">
        <div class="infoLine_box_col_indent">
          <h5 class="infoLine_box_col_h">100,000+</h5>
          <p class="infoLine_box_col_txt m_t_mob_s" i18n="home|index_sec2 txt3">Trading Accounts</p>
        </div>
      </div>
      <div class="infoLine_box_col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="50">
        <div class="infoLine_box_col_indent">
          <h5 class="infoLine_box_col_h">300+</h5>
          <p class="infoLine_box_col_txt m_t_mob_s" i18n="home|index_sec2 txt4">White Labels</p>
        </div>
      </div>
      <div class="infoLine_box_col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="50">
        <div class="infoLine_box_col_indent">
          <h5 class="infoLine_box_col_h">14</h5>
          <p class="infoLine_box_col_txt m_t_mob_s" i18n="home|index_sec2 txt5">Offices Worldwide</p>
        </div>
      </div>
      <div class="infoLine_box_col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-xs="50">
        <div class="infoLine_box_col_indent">
          <h5 class="infoLine_box_col_h">#1</h5>
          <p class="infoLine_box_col_txt m_t_mob_s" i18n="home|index_sec2 txt6">IB Aggregator in the World</p>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="index_bonus">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <h2 class="width500 txt_white" i18n="home|index_bonus txt7">GET 30% BONUS FROM YOUR DEPOSIT</h2>
    <div fxFlex="100">
      <a routerLink="/deposit-bonus.html" i18n-aria-label="home button 1|@@index_bonus_btn1" aria-label="Learn More" class="btn btn_arrow_w btn_mob m_t_mob" i18n="@@index_bonus_btn1">Learn More</a>
    </div>
  </div>
</div>



