<div class="mobile_sec1 rubric active_animate">
  <div class="contentCenter fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h2 class="txt_white width635">eForex for iOS & iPadOS</h2>
      <ul class="list_info info_white width580 m_t_tab">
        <li class="txt_white">One of the most popular Forex trading platforms, eForex 4, is now available on your iPhone or iPad absolutely free of charge.</li>
        <li class="txt_white">Trade currencies with eForex.</li>
        <li class="txt_white">With this application, you can control your account, trade in the financial markets and use 30 technical indicators for market analysis.</li>
      </ul>
      <div class="mobile_sec1_btn" fxLayout="row wrap" fxLayoutAlign="start center">
        <a href="https://itunes.apple.com/us/app/metatrader-4/id496212596?hl=en" class="ind_right" aria-label="App Store Link" rel="noreferrer noopener">
          <img class="mobile_sec1_btn_img1" src="/assets/mobile/app-store-link.svg" alt="App Store Link">
        </a>
        <img class="mobile_sec1_btn_img2" src="/assets/mobile/qr-code-ios.svg" alt="Metatrader4  Qr Code iOS">
      </div>
    </div>
    <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/mobile/ios.webp 1x, /assets/mobile/ios@2x.webp 2x ">
        <img  src="/assets/mobile/ios.jpg" srcset="/assets/mobile/ios.jpg 1x, /assets/mobile/ios@2x.jpg 2x" alt="MetaTrader for iOS & iPadOS">
      </picture>
    </div>
  </div>
</div>


<div class="mobile_sec2 rubric">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div class="rubric_img" fxFlex.gt-sm="40" fxShow.gt-sm fxHide>
      <picture>
        <source type="image/webp" srcset="/assets/mobile/android.webp 1x, /assets/mobile/android@2x.webp 2x ">
        <img  src="/assets/mobile/android.jpg" srcset="/assets/mobile/android.jpg 1x, /assets/mobile/android@2x.jpg 2x" alt="MetaTrader for Android">
      </picture>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="48">
      <h2 class="traders_sec2_h width635">MetaTrader for Android</h2>
      <ul class="list_info info_black width580 m_t_tab">
        <li>All Android users can trade, analyze the market using charts, watch the quotes 24 hours a day, and examine the history of performed deals without giving up their favorite MetaTrader 4 platform.</li>

        <li>By downloading MetaTrader 4 for Android for free, traders get a convenient and reliable working tool that will always be with them.</li>

        <li>The application has native support of Android powered tablet PCs!</li>

      </ul>
      <div class="mobile_sec1_btn" fxLayout="row wrap" fxLayoutAlign="start center">
        <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4" class="ind_right" aria-label="Google Play-Link" rel="noreferrer noopener">
          <img class="mobile_sec1_btn_img1" src="/assets/mobile/google-play-link.svg" alt="Google Play-Link">
        </a>
        <img class="mobile_sec1_btn_img2" src="/assets/mobile/qr-code-google.svg" alt="Metatrader4 Qr Code Google">
      </div>
    </div>

  </div>
</div>




