<div class="services_box" fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100">

  <div class="services_box_col" fxFlex="100" fxFlex.gt-md="23.9" fxFlex.gt-sm="32" fxFlex.gt-xs="48">
    <div class="services_box_col_popup">
      <div class="services_box_col_img">
        <img class="" src="/assets/home/services_1.webp" srcset="/assets/home/services_1@2x.webp 2x" alt="">
      </div>
      <h3 class="services_box_col_h m_t_mob">QR Menu QR service fo restaurants and stores with WhatsApp order link</h3>
      <p class="services_box_col_price ">$9.00</p>
    </div>
    <div class="services_box_col_btn btn btn_red ">Request Now</div>
  </div>

  <div class="services_box_col" fxFlex="100" fxFlex.gt-md="23.8" fxFlex.gt-sm="32" fxFlex.gt-xs="48">
    <div class="services_box_col_popup">
      <div class="services_box_col_img">
        <img class="" src="/assets/home/services_2.webp" srcset="/assets/home/services_2@2x.webp 2x" alt="">
      </div>
      <h3 class="services_box_col_h m_t_mob">Managing social media platforms for others</h3>
      <p class="services_box_col_price ">$790.00</p>
    </div>
    <div class="services_box_col_btn btn btn_red ">Request Now</div>
  </div>

  <div class="services_box_col" fxFlex="100" fxFlex.gt-md="23.8" fxFlex.gt-sm="32" fxFlex.gt-xs="48">
    <div class="services_box_col_popup">
      <div class="services_box_col_img">
        <img class="" src="/assets/home/services_3.webp" srcset="/assets/home/services_3@2x.webp 2x" alt="">
      </div>
      <h3 class="services_box_col_h m_t_mob">QR Menu QR service for restaurants and stores with WhatsApp order
        link</h3>
      <p class="services_box_col_price ">$9.00</p>
    </div>
    <div class="services_box_col_btn btn btn_red ">Request Now</div>
  </div>

  <div class="services_box_col" fxFlex="100" fxFlex.gt-md="23.8" fxFlex.gt-sm="32" fxFlex.gt-xs="48">
    <div class="services_box_col_popup">
      <div class="services_box_col_img">
        <img class="" src="/assets/home/services_4.webp" srcset="/assets/home/services_4@2x.webp 2x" alt="">
      </div>
      <h3 class="services_box_col_h m_t_mob">QR Menu QR service for restaurants and stores with WhatsApp order
        link</h3>
      <p class="services_box_col_price ">$9.00</p>
    </div>
    <div class="services_box_col_btn btn btn_red m_t_mob">Request Now</div>
  </div>


  <!-- -->
</div>
