<div class="error404_top">
  <div class="contentCenter">
    <div class="top_404" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <h1 class="top_sec_box_h txt_white" fxFlex="100">404<br>
        We Couldn’t Find This Page.</h1>
      <p class="width530 m_t_mob txt_white">Uh oh, we can't seem to find the page you're looking for. Try going back to the previous page or see our Home Page</p>
      <div class="m_t_mob" fxFlex="100">
        <a routerLink="/" class="btn btn_blue btn_mob" rel="dofollow noreferrer" aria-label="HOME PAGE">HOME PAGE</a>
      </div>
    </div>
  </div>
</div>
