<div class="legal_sec1 active_animate">
  <div class="fadeInUp animate duration_05 ">
  <div class="contentCenter ">
    <h1 class="legal_sec1_h txt_white">Legal Documents & Forms</h1>
    <div class="legal_sec1_info">
      <h3 class="legal_sec1_info_title">Addendums For IB Agreements</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">MT Addendum for 0 commission</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
              <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT_For_0_Commission.pdf" class="back_view" target="_blank" aria-label="MT Addendum for 0 commission" rel="noreferrer noopener"></a>
              <div class="back_sep"></div>
              <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT_For_0_Commission.pdf" download class="back_download" target="_blank" aria-label="MT Addendum for 0 commission" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">MT CFD addendum</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT-CFD.pdf" class="back_view" target="_blank" aria-label="MT CFD addendum" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT-CFD.pdf" download class="back_download" target="_blank" aria-label="MT CFD addendum" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">MT DMA addendum</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT-DMA.pdf" class="back_view" target="_blank" aria-label="MT DMA addendum" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT-DMA.pdf" download class="back_download" target="_blank" aria-label="MT DMA addendum" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">MT FX addendum</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT-FX.pdf" class="back_view" target="_blank" aria-label="MT FX addendum" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB_MT-FX.pdf" download class="back_download" target="_blank" aria-label="MT FX addendum" rel="noreferrer noopener"></a>
          </div>
        </div>
      </div>


      <h3 class="legal_sec1_info_title m_t_tab">Additional Forms</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Interest Free Account Terms</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/forms/Interest_Free_Account_Terms.pdf" class="back_view" target="_blank" aria-label="Interest Free Account Terms" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/forms/Interest_Free_Account_Terms.pdf" download class="back_download" target="_blank" aria-label="Interest Free Account Terms" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">POA</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/forms/POA.pdf" class="back_view" target="_blank" aria-label="POA" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/forms/POA.pdf" download class="back_download" target="_blank" aria-label="POA" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Revocation Of Power Of Attorney</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/forms/Revocation_Of_Power_Of_Attorney.pdf" class="back_view" target="_blank" aria-label="Revocation Of Power Of Attorney" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/forms/Revocation_Of_Power_Of_Attorney.pdf" download class="back_download" target="_blank" aria-label="Revocation Of Power Of Attorney" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>





      <h3 class="legal_sec1_info_title m_t_tab">Client Agreements</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Corporate Agreement</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Corporate.pdf" class="back_view" target="_blank" aria-label="Corporate Agreement" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Corporate.pdf" download class="back_download" target="_blank" aria-label="Corporate Agreement" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Individual Client Agreement</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Individual.pdf" class="back_view" target="_blank" aria-label="Individual Client Agreement" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Individual.pdf" download class="back_download" target="_blank" aria-label="Individual Client Agreement" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Joint Agreement</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Joint.pdf" class="back_view" target="_blank" aria-label="Joint Agreement" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Joint.pdf" download class="back_download" target="_blank" aria-label="Joint Agreement" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>





      <h3 class="legal_sec1_info_title m_t_tab">Funds Deposits, Withdrawals, Transfers</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">eForex Funds Deposit Withdrawal Transfer Policies</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/forms/BMFN_Funds_Deposit_Withdrawal_Transfer_Policies.pdf" class="back_view" target="_blank" aria-label="eForex Funds Deposit Withdrawal Transfer Policies" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/forms/BMFN_Funds_Deposit_Withdrawal_Transfer_Policies.pdf" download class="back_download" target="_blank" aria-label="eForex Funds Deposit Withdrawal Transfer Policies" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Funds Withdrawal Form</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/forms/Funds_Withdrawal.pdf" class="back_view" target="_blank" aria-label="Funds Withdrawal Form" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/forms/Funds_Withdrawal.pdf" download class="back_download" target="_blank" aria-label="Funds Withdrawal Form" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Internal Transfer Form</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/forms/Internal_Transfer.pdf" class="back_view" target="_blank" aria-label="Internal Transfer Form" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/forms/Internal_Transfer.pdf" download class="back_download" target="_blank" aria-label="Internal Transfer Form" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>



      <h3 class="legal_sec1_info_title m_t_tab">IB Agreements</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">IB agreement</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB.pdf" class="back_view" target="_blank" aria-label="IB agreement" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_IB.pdf" download class="back_download" target="_blank" aria-label="IB agreement" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>

      <h3 class="legal_sec1_info_title m_t_tab">Money Manager Agreements</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">TraderTerms</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_MM_TraderTerms.pdf" class="back_view" target="_blank" aria-label="TraderTerms" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_MM_TraderTerms.pdf" download class="back_download" target="_blank" aria-label="TraderTerms" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Trading Agent Information</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_MM_TradingAgentInformation.pdf" class="back_view" target="_blank" aria-label="Trading Agent Information" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_MM_TradingAgentInformation.pdf" download class="back_download" target="_blank" aria-label="Trading Agent Information" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>


      <h3 class="legal_sec1_info_title m_t_tab">Omnibus Clearing Agreement</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Omnibus Agreement</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Omnibus.pdf" class="back_view" target="_blank" aria-label="Omnibus Agreement" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_Omnibus.pdf" download class="back_download" target="_blank" aria-label="Omnibus Agreement" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>



      <h3 class="legal_sec1_info_title m_t_tab">White Label Agreements</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Application Form</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_WL_ApplicationForm.pdf" class="back_view" target="_blank" aria-label="Application Form" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_WL_ApplicationForm.pdf" download class="back_download" target="_blank" aria-label="Application Form" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">MT Licensing and WL Agreement</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_WL&MT_Licensing.pdf" class="back_view" target="_blank" aria-label="MT Licensing and WL Agreement" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_WL&MT_Licensing.pdf" download class="back_download" target="_blank" aria-label="MT Licensing and WL Agreement" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">MT4 WL Form</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_WL_MT4_Form.pdf" class="back_view" target="_blank" aria-label="MT4 WL Form" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="http://docs.bmfn.com/5/en/agreements/Agreement_WL_MT4_Form.pdf" download class="back_download" target="_blank" aria-label="MT4 WL Form" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>



      <h3 class="legal_sec1_info_title m_t_tab">AML policy</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">eForex Limited</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="https://bmfnvt.com/pdf/legal/BMFN%20Limited%20-%20AML%20policy%20-%20signed.pdf" class="back_view" target="_blank" aria-label="eForex Limited" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="https://bmfnvt.com/pdf/legal/BMFN%20Limited%20-%20AML%20policy%20-%20signed.pdf" download class="back_download" target="_blank" aria-label="eForex Limited" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Anti-Money Laundering And Counter-Terrorism Financing</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="https://bmfnvt.com/pdf/legal/Anti-Money%20Laundering%20%20&%20Counter-Terrorism%20Financing.pdf" class="back_view" target="_blank" aria-label="Anti-Money Laundering And Counter-Terrorism Financing" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="https://bmfnvt.com/pdf/legal/Anti-Money%20Laundering%20%20&%20Counter-Terrorism%20Financing.pdf" download class="back_download" target="_blank" aria-label="Anti-Money Laundering And Counter-Terrorism Financing" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>

      <h3 class="legal_sec1_info_title m_t_tab">Privacy Policy</h3>
      <div class="legal_sec1_info_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="20" class="card">
          <div class="front">
            <div class="card_img"></div>
            <p class="card_txt">Customer Data Privacy Policy</p>
          </div>
          <div class="back" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <a href="https://docs.bmfn.com/5/en/Customer_Data_Privacy_Policy.pdf" class="back_view" target="_blank" aria-label="Customer Data Privacy Policy" rel="noreferrer noopener"></a>
            <div class="back_sep"></div>
            <a href="https://docs.bmfn.com/5/en/Customer_Data_Privacy_Policy.pdf" download class="back_download" target="_blank" aria-label="Customer Data Privacy Policy" rel="noreferrer noopener"></a>
          </div>
        </div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
        <div fxFlex="20" fxHide fxShow.gt-sm></div>
      </div>



    </div>

  </div>
  </div>
</div>


