<div class="deposit_sec active_animate">
  <div class="contentCenter_min fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
   <h1 class="deposit_sec_h txt_white">Credit Card Deposit Instructions</h1>
    <div class="deposit_sec_box">
      <h2>Credit/Debit Card Deposit Rules & Policies</h2>
      <p class=" m_t_mob">By using the Card deposit services offered in eForex Limited you are electing to perform a transaction with eForex Limited, eForex Limited is incorporated in the Republic of Vanuatu under the provisions of the International Companies Act ( CAP 222), by Vanuatu Financial Services Commission, Company Number 40202 holding Principal’s License in Dealers in Securities.</p>

      <p class=" m_t_mob">Please carefully read the important notices below regarding your transaction prior to proceeding.</p>

      <ul class="list_info_s info_black m_t_mob">

        <li>Financial card transactions are processed by eForex Limited. The charge will appear on your eForex.</li>

        <li>Minimum deposits are $50.</li>

        <li>Third party payments will NOT be accepted. All deposits MUST be from the original account owner.</li>

        <li>Payments via PREPAID, VISA ELECTRON or FOR INTERNET/ELECTRONIC USE ONLY cards that are unable to fulfil the company stated AML and KYC policies are not accepted . If a payment is submitted via any of the methods stated above, funds will only be returned/rejected to the card and cannot be returned by any other means. eForex Limited will not be held responsible if funds cannot be credited back to the card.</li>

        <li>Funds deposited via cards are not available for withdrawal for a period of 48 hours from the date of the most recent card deposit. All card withdrawals are subject to prior approval.</li>

        <li>All card-based transactions are automatically converted to EUR or USD and the possibility exists that you may incur additional fees by your card issuer for currency conversion.</li>

        <li>Deposits made by card may take up to 1 full business day to process.</li>

        <li>In order to complete your card transaction you will be required to submit proper identification, the source of funds, address proof and upload concealed copies of the credit card (front and back) utilized in the transaction. For the front page please submit a scan with first 6 and the last 4 digits of the card number (the rest of the digits should be covered). For the back side, the cardholder’s signature should be visible, but the 3-digit CVC2/CVV2 code should be covered.</li>

        <li>It is your responsibility to make sure that you select the correct payment method and input the appropriate information required for the card transaction.</li>

      </ul>


      <div class="deposit_sec_box_sep"></div>

      <h2 class="deposit_sec_box_h">Anti-Money Laundering (AML) and KYC Policy:</h2>

      <p class=" m_t_mob">eForex Limited AML Policy is designed to ensure that the company complies with the requirements and obligations set out in Republic of Vanuatu legislation, regulations, rules and Industry Guidance for the financial services sector, including the need to have adequate systems and controls in place to mitigate the risk of the firm being used to facilitate financial crime.</p>

      <p class=" m_t_mob">The AML Policy sets out the minimum standards which must be complied with and includes:</p>



      <ul class="list_info_s info_black m_t_mob">

        <li>The appointment of a Money Laundering Reporting Officer (MLRO) of sufficient seniority, who have responsibility for oversight of compliance with relevant legislation, regulations, rules and industry guidance;</li>

        <li>Establishing and maintaining a Risk Based Approach (RBA) towards assessing and managing the money laundering and terrorist financing risks to the Group;</li>

        <li>Establishing and maintaining risk-based customer due diligence, identification, verification and know your customer (KYC) procedures, including enhanced due diligence for those customers presenting higher risk.</li>

        <li>Establishing and maintaining risk based systems and procedures to monitor ongoing customer activity;</li>

        <li>Procedures for reporting suspicious activity internally and to the relevant law enforcement authorities as appropriate;
        The maintenance of appropriate records for the minimum prescribed periods;</li>

        <li>Training and awareness for all relevant employees; and</li>

        <li>The provision of appropriate management information and reporting to senior management of the Group’s compliance with the requirements;</li>

      </ul>

      <p class=" m_t_mob">As a part of safe and sound business practices, we are required to have sufficient knowledge about our customers, and to be familiar with their normal financial transactions.</p>


      <div class="deposit_sec_box_sep"></div>

      <h2 class="deposit_sec_box_h">Refund Policy</h2>

      <ol class="list_info_s info_black m_t_mob">
        <li>Fees once paid through the payment gateway shall be refunded by approved request to support@eforex.com and in the following circumstance all due to prior approval:
          <ul class="list_info_s info_black m_t_mob">
            <li>Multiple times debiting of Card/Bank Account due to technical error OR client’s account being debited with excess amount in a single transaction due to technical error. In such cases, excess amount excluding Payment Gateway charges would be refunded to the client.</li>
            <li>Due to technical error, payment being charged on the Client Card/Bank Account but the purchase is unsuccessful. The client would be provided with the account at no extra cost. However, if in such cases, client wishes to seek refund of the amount, he/she would be refunded net the amount, after deduction of Payment Gateway charges or any other charges.</li>
          </ul>
        </li>
        <li>The Client will have to make an application for refund along with the transaction number and original payment receipt if any generated at the time of making payments.</li>
        <li>The application in the prescribed format should be sent to <a href="mailto:support@eforex.com" class="deposit_sec_box_link" aria-label="mailto support@eforex.com" rel="noreferrer noopener">support@eforex.com</a></li>
        <li>The application will be processed manually and after verification, if the claim is found valid, the amount received in excess will be refunded by eForex Limited through electronic mode in favour of the client and confirmation sent to the mailing address given in the online registration form, within a period of 7-10 calendar days on receipt of such claim.</li>
        <li>In case of any queries, please call eForex Limited on +359 2 401 26 33 or write to <a href="mailto:support@eforex.com" class="deposit_sec_box_link" aria-label="mailto support@eforex.com" rel="noreferrer noopener">support@eforex.com</a></li>
      </ol>



      <div class="deposit_sec_box_sep"></div>

      <h2 class="deposit_sec_box_h">Payout, Withdrawal and Cancellation Policy</h2>

      <h3 class="m_t_mob">How do I withdraw money?</h3>


      <p class=" m_t_mob">Customers may request payout and withdraw of funds at any time.</p>

      <p class=" m_t_mob">Funds can be withdrawn up to the value of the balance of your account.</p>

      <p class=" m_t_mob">Funds are withdrawn using the same method, and to the same account as previously used to deposit</p>

      <p class=" m_t_mob">How long will it take to process my withdrawal request and when will I receive my funds?</p>

      <p class=" m_t_mob">Withdrawal requests take up to 3 to 5 business days to process. The time taken to receive your payment may vary depending on the payment provider involved.</p>

      <h3 class="m_t_mob">How can I cancel my withdrawal?</h3>

      <p class="m_t_mob">In order to cancel your withdrawal request please send your request for cancelation to <a href="mailto:support@eforex.com" class="deposit_sec_box_link" aria-label="mailto support@eforex.com" rel="noreferrer noopener">support@eforex.com</a>.</p>


      <h3 class="m_t_mob">What are the conditions to open a withdrawal request?</h3>

      <ul class="list_info_s info_black m_t_mob">
        <li>The minimum amount for withdrawal is 50$</li>
        <li>You have to have available withdrawable funds</li>
        <li>Your account needs to be verified (if you haven’t yet verified your account, please contact us and upload the required documents)</li>
        <li>All your personal information, payment details and documents are managed according to a very firm information security policy, as expected from an organization that provides Financial Services to end users.</li>
      </ul>

      <h3 class="m_t_mob">Are there any withdrawal fees?</h3>

      <p class="m_t_mob">Yes, withdrawal requests are subjected to a withdrawal processing fee depending on the requested amount, geographical location and type of withdrawal.</p>

      <p class="m_t_mob">Any withdrawals sent in currencies other than USD are subject to conversion fees. Please note, you may be charged by the funding provider involved in the transfer (Intermediary bank, receiving bank, or your credit card provider).</p>

      <h3 class="m_t_mob">How will I know if my withdrawal request has been processed?</h3>

      <p class="m_t_mob">You will be notified via email once the processing of your withdrawal request has been completed and informed to which payment provider your funds were sent.</p>

      <h3 class="m_t_mob">What shall I do if I cannot see my funds?</h3>

      <ul class="list_info_s info_black m_t_mob">
        <li>You can check the email you received in relation to the processing of your withdrawal, which will be specify the payment method to which the funds were sent and the date processed.</li>
        <li>Take into consideration that from the time we process your withdrawal, it can take up to 3 to 5 business days for the funds to appear in your account statement.</li>
        <li>If all the above was checked and you still cannot find the funds, please contact us and provide us with a payment method statement showing the incoming and outgoing transactions from the time the withdrawal was processed until the time you contacted us. Please make sure we can see your name, the transaction dates and the payment method details.</li>
      </ul>

      <div class="deposit_sec_box_sep"></div>

      <h2 class="deposit_sec_box_h">Cancellation Policy</h2>

      <p class="m_t_mob">You may cancel your account at any time by emailing <a href="mailto:support@eforex.com" class="deposit_sec_box_link" aria-label="mailto support@eforex.com" rel="noreferrer noopener">support@eforex.com</a></p>

      <p class="m_t_mob">Fraud: Without limiting any other remedies eForex Limited may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity.</p>

      <div class="deposit_sec_box_sep"></div>

      <h2 class="deposit_sec_box_h">Customer Data Privacy Policy</h2>


      <p class="m_t_mob">By signing the agreement the Client agrees that eForex Limited can process and keep all personal data which the Client has provided and/or will provide and/or data eForex Limited has access to pursuant to its communication with the Client.</p>

      <p class="m_t_mob">The Client agrees that eForex Limited may use independent sources at its discretion in order to identify the Client.</p>

      <p class="m_t_mob">The Client agrees that access to his/her personal data shall have only the employees, members of the managing bodies of the Company and the persons that the Company has executed agreements for legal and accounting services with. The Client agrees that the Company may disclose his/ her personal data only to credit, financial and other institutions, state and municipal bodies when this is necessary for the execution of the agreement with the Client or in order to meet the requirements for the measures against money laundering and terrorism financing.</p>


      <p class="m_t_mob"><strong>BY CLICKING THE "I AGREE" BUTTON BELOW, YOU ARE ACKNOWLEDGING THAT YOU HAVE READ, UNDERSTOOD AND AGREED TO THE <a href="https://docs.bmfn.com/5/en/terms_and_conditions_for_payment.pdf" target="_blank" aria-label="CREDIT/DEBIT CARD DEPOSIT RULES AND POLICIES" rel="noreferrer noopener" class="deposit_sec_box_link">CREDIT/DEBIT CARD DEPOSIT RULES AND POLICIES</a>, THE <a href="https://docs.bmfn.com/5/en/BMFN_Limited_Privacy_Policy.pdf" target="_blank" aria-label="CUSTOMER DATA PRIVACY POLICY" rel="noreferrer noopener" class="deposit_sec_box_link">CUSTOMER DATA PRIVACY POLICY</a>, AND WILL BE REDIRECTED TO A SECURE PAGE TO PROCEED WITH YOUR CREDIT/DEBIT CARD TRANSACTION THROUGH YOUR eForex PRIVATE CABINET.</strong></p>

      <div class="deposit_sec_box_btn">
        <a href="/" class="btn btn_mob btn_blue" aria-label="I DON'T AGREE" rel="noreferrer noopener">I DON'T AGREE</a>
        <a href="https://my.eforex.com/funds/deposit.html" class="btn btn_mob btn_blue_b" aria-label="I AGREE" rel="noreferrer noopener">I AGREE</a>
      </div>



    </div>
  </div>
</div>










































