<div class="pl_sec1">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="start center">


    <h1 class=" txt_white" fxFlex="100" fxFlex.gt-sm="50" i18n="platform|pl_sec1 header">eForex Trading Platform</h1>
    <p class=" txt_white m_t_mob" fxFlex="100" fxFlex.gt-sm="55" i18n="platform|pl_sec1 txt1">The most innovative Forex and CFD Trading Platform</p>
    <div class="pl_sec1_btn m_t_mob" fxFlex="100">
      <a href="https://cdn.bostonunisoft.com/ut/23.10.2.1/eForexSetup.exe" target="_blank" class="btn btn_blue btn_mob" i18n-aria-label="platform button 1|@@platform_btn1" aria-label="DOWNLOAD PLATFORM" i18n="@@platform_btn1">DOWNLOAD PLATFORM</a>
      <a href="https://my.eforex.com/registration.html" target="_blank" class="btn btn_white_b btn_mob" i18n-aria-label="platform button 2|@@platform_btn2" aria-label="OPEN DEMO ACCOUNT" i18n="@@platform_btn2">OPEN DEMO ACCOUNT</a>
    </div>

    <div class="pl_sec1_img">
      <picture>
        <source type="image/webp" srcset="/assets/platform/eforex_platform_nb.webp 1x, /assets/platform/eforex_platform_nb@2x.webp 2x ">
        <img  src="/assets/platform/eforex_platform_nb.png" srcset="/assets/platform/eforex_platform_nb.png 1x, /assets/platform/eforex_platform_nb@2x.png 2x" i18n-alt="platform|pl_sec1 img1" alt="eForex Trading Platform">
      </picture>
    </div>


  </div>
</div>




<div class="pl_sec3">
  <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between center">

    <div fxFlex="55" fxHide fxShow.gt-sm>
      <picture>
        <source type="image/webp" srcset="/assets/platform/pl_sec2.webp 1x, /assets/platform/pl_sec2@2x.webp 2x ">
        <img  src="/assets/platform/pl_sec2.png" srcset="/assets/platform/pl_sec2.png 1x, /assets/platform/pl_sec2@2x.png 2x" i18n-alt="platform|pl_sec3 img1" alt="Trade On The Go">
      </picture>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="45">
      <h2 i18n="platform|pl_sec3 header">Trade On The Go</h2>
      <p class="m_t_mob_s" i18n="platform|pl_sec3 txt1">Trade Forex and CFDs on Shares and ETF’s, Metals, Commodities and Futures directly from your Apple mobile devices 24/6.</p>

      <div fxLayout="column wrap" fxLayout.gt-sm="row wrap" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="start start">
        <a href="https://apps.apple.com/bg/app/eforex/id6462084349" class="pl_sec3_link_ios m_t_mob" target="_blank" rel="nofollow" aria-label="App Store"></a>
        <a href="https://play.google.com/store/apps/details?id=com.gmfex.eforex" class="pl_sec3_link_andr m_t_mob" target="_blank" rel="nofollow" aria-label="Google Store"></a>
      </div>


    </div>
  </div>
</div>



<div class="pl_bg_black">

  <div class="pl_sec4">
    <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="pl_sec4_col" fxFlex="100" fxFlex.gt-sm="47">
        <h2 i18n="platform|pl_sec4 h1">Real Time Trading</h2>
        <p class="m_t_mob_s" i18n="platform|pl_sec4 txt1">With the eForex Trading Platform, you can open, close and modify your Forex and CFD orders as well as monitor your trading history all in real time.</p>
      </div>
      <div class="pl_sec4_col" fxFlex="100" fxFlex.gt-sm="47">
        <h2 i18n="platform|pl_sec4 h2">Easy to Start</h2>
        <p class="m_t_mob_s" i18n="platform|pl_sec4 txt2">It is extremely easy to register your trading account. In less than two minutes you can navigate and trade most liquid financial products in the world.</p>
      </div>
    </div>
  </div>



  <div class="pl_sec5">
    <div class="contentCenter" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div  fxFlex="100" fxFlex.gt-sm="29">
        <h2 class="pl_sec5_col_h txt_white" i18n="platform|pl_sec5 h1">Trading</h2>
        <ul class="list_info_ok li_white m_t_mob">
          <li i18n="platform|pl_sec5 li_txt1">Real-time quotes for over 200 global financial instruments provided by the US, EU, AU, LatAm, ME and Asian exchanges.</li>
          <li i18n="platform|pl_sec5 li_txt2">Comprehensive order/positions controls including Limit/Stop orders</li>
          <li i18n="platform|pl_sec5 li_txt3">Full trading history</li>
          <li i18n="platform|pl_sec5 li_txt4">Multiple Accounts simultaneous trading and management</li>
        </ul>
      </div>

      <div class="pl_sec5_col" fxFlex="100" fxFlex.gt-sm="29">
        <h2 class="pl_sec5_col_h txt_white" i18n="platform|pl_sec5 h2">Usability</h2>
        <ul class="list_info_ok li_white m_t_mob">
          <li i18n="platform|pl_sec5 li_txt5">Innovative user-friendly interface design</li>
          <li i18n="platform|pl_sec5 li_txt6">Minimum traffic requirements</li>
          <li i18n="platform|pl_sec5 li_txt7">High performance architecture allows to lower down the battery consumption</li>
        </ul>
      </div>

      <div class="pl_sec5_col" fxFlex="100" fxFlex.gt-sm="29">
        <h2 class="pl_sec5_col_h txt_white" i18n="platform|pl_sec5 h3">Technical analysis</h2>
        <ul class="list_info_ok li_white m_t_mob">
          <li i18n="platform|pl_sec5 li_txt8">Real-time instrument charts with scroll and zoom options</li>
          <li i18n="platform|pl_sec5 li_txt9">8 chart time frames from 1 minute up to the monthly overview</li>
          <li i18n="platform|pl_sec5 li_txt10">Detailed instrument information includes minimum lot requirements, swap rates and other useful information</li>
        </ul>
      </div>
    </div>
  </div>



</div>








