$body_family   : 'Montserrat','Arial';
$body_size     : 100%;
$body_line     : 1.5;
$body_weight   : normal;
$body_bg_color : #ffffff;
$body_color 	 : rgba(0, 0, 0,0.87);

//==============
$h_t_indent_pc    : 300px; //head top indent
$h_t_indent_tab   : 150px; //head top indent
$indent_big				: 256px;
$indent_pc				: 11%;
$indent_tab				: 64px;
$indent_mid				: 45px;
$indent_mob				:	32px;
$indent_mob_small	:	24px;


$arr_h			:( h1:72px, h2:48px, h3:24px, h4:23px, h5:115% ); //size on pc
$arr_h_tab	:( h1:60px, h2:38px, h3:22px, h4:20px, h5:110% ); //resize on tab
$arr_h_mob	:( h1:45px, h2:28px, h3:20px, h4:18px, h5:105% ); //resize on mobile
$h_font			: 'NotoSerifDisplay','Arial';
$h_color		: #091c27;
$h_weight		: 400;

//==============

$p_size  : 16px;
$p_size_mob  : 16px;
$p_line  : 1.5;
$p_line_mob  : 1.5;
$p_color : #091c27;
$p_align : left;
$p_weight : 400;
$p_align_mob : justify;
$p_font : 'Montserrat','Arial'; //

//==============

$a_color : #00456d;

//==============

$media_pc			:87.5625em;  //  1401px
$media_mid_pc	:79.9375em;	//  1279px resize on laptop
$media_tab		:59.9375em;		//  959px	resize on tab
$media_mob		:37.4375em;		//  599px resize on mobile

//==============
$max_width_big 	: 1450px;
$max_width 			:	1280px;
$max_width_tab 	:	92%;
$max_width_min 	: 860px;
/*$max_width_mid 	: 1450px;
$max_width_back : 1196px;
$max_width_nano	: 760px;*/

//===============

$mob_menu_width : 230px;


$mob_sec1: 400px;


//========================================================
//========================================================
//========================================================
//========================================================
//========================================================

input,textarea{
  font-family:$body_family;
}
body{
  font-family:$body_family;
  font-size:$body_size;
  line-height:$body_line;
  font-weight:$body_weight;
  /* background-color:$body_bg_color; */
 /* color:$body_color;*/
}

p{
  font-size: $p_size;
  line-height: $p_line;
  color:$p_color;
  text-align:$p_align;
  font-weight: $p_weight;
  @include respond_to(mob){
    font-size:$p_size_mob;
    text-align:$p_align_mob;
    line-height:$p_line_mob;
  }
  font-family:$p_font;

}

html[dir="rtl"]  {
  p{
    text-align: right;
  }
}
/*a{
  color:$a_color;
}*/
h1,h2,h3,h4,h5{
  font-family:$h_font;
  color:$h_color;
  font-weight: $h_weight;
  display:block;
  line-height:1.2;
  /* opacity:0.87; */
}
h1{
  line-height:1.2;
}


@each $key,$value in $arr_h{
  #{$key}{font-size:$value; }
}


@each $key,$value in $arr_h_tab{
  @include respond_to(tab){
    #{$key}{font-size:$value; }
  }
}

@each $key,$value in $arr_h_mob{
  @include respond_to(mob){
    #{$key}{font-size:$value; }
  }
}
