@import "src/scss/mixin";
@import "src/scss/variables";

.holidays_sec1{
  padding-top:$h_t_indent_pc;
  background-color: #091c27;
  @include respond_to(tab) {
    padding: $h_t_indent_tab 0 $indent_tab 0;
  }
  &_h{
    text-align: center;
    margin:0 auto;
    @include respond_to(tab) {
      text-align: left;
    }
  }
  tr, td, table {
    vertical-align: middle;
    font-family: 'Montserrat', 'Arial';
  }
}
.holidays {
  position: relative;
  z-index: 3;
  min-height: 300px;
  margin-top:$indent_pc;
  padding:$indent_pc 100px;
  background-color: white;

  @include respond_to(tab){
    padding: 11% 3%;
    margin-top:$indent_tab;
  }

  tr, td, table {
    vertical-align: middle;
  }
  &_scroll{
    overflow: auto;
  }
}

tr.mat-row, tr.mat-footer-row {
  height: 60px;
  cursor: pointer;
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  width: 100%;
}

.example-element-description-attribution {
  opacity: 0.5;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgba(255, 255, 255, 0.15);
}

th.mat-header-cell {
  vertical-align: middle;
  opacity: 0.5;
}

td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0;
}

td.mat-cell, th.mat-header-cell {
  text-align: center;
}

.t_hours{
  @include respond_to(tab){
    margin-top:$indent_mob_small;
  }
}

.red{
  color:#BF5454;
}

.holidays_table{
  width: 100%;
  min-width: 350px;
  border-collapse: separate;
  &_tbody{}
  &_tr{
    & td:last-child{}
  }
  &_td{
    opacity:0.87;
    padding: 16px 20px;
  }
  &_header{
    font-size: 16px;
    font-weight: 600;
    background-color: #091c27;
    color:white;
  }
  .txt_left{
    text-align:left;
  }
  .txt_center{
    text-align:center;
  }
}

.no_td{
  display:none;
}

table tr:nth-child(2n) {
  background-color: rgba(9, 28, 39, 0.1);
}
