<div class="deposit_sec active_animate">
  <div class="contentCenter_min fadeInUp animate duration_05" fxLayout="row wrap" fxLayoutAlign="space-between start">
   <h1 class="deposit_sec_h txt_white">Skrill</h1>
    <div class="deposit_sec_box">
      <p class="m_t_mob"><strong>BY CLICKING THE "LOGIN" BUTTON BELOW, YOU ARE ACKNOWLEDGING THAT YOU HAVE READ, UNDERSTOOD AND AGREED TO THE <a href="https://docs.bmfn.com/5/en/BMFN_Limited_Privacy_Policy.pdf" target="_blank" aria-label="CUSTOMER DATA PRIVACY POLICY" rel="noreferrer noopener" class="deposit_sec_box_link">CUSTOMER DATA PRIVACY POLICY</a>, AND WILL BE REDIRECTED TO A SECURE PAGE TO PROCEED WITH YOUR SKRILL TRANSACTION THROUGH YOUR eForex PRIVATE CABINET.</strong></p>

      <div class="deposit_sec_box_btn">
        <a href="/" class="btn btn_mob btn_blue" aria-label="GO BACK" rel="noreferrer noopener">GO BACK</a>
        <a href="https://my.eforex.com/funds/deposit.html" class="btn btn_mob btn_blue_b" aria-label="LOGIN" rel="noreferrer noopener">LOGIN</a>
      </div>

    </div>
  </div>
</div>










































