<div  class="lang_box" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end start">
  <div class="menu_lang">
    <a class="menu_lang_link" href="{{localesList.link}}">{{localesList.label}}</a>
  </div>
</div>
<div class="logo_block" fxFlex="20">
  <a routerLink="/" class="logo_header " title="eForex" aria-label="eForex"></a>
</div>
<div class="menu_block" fxFlex="80" fxLayout="row wrap" fxLayoutAlign="end center">
  <app-menu ></app-menu>
  <div class="private_btn1">
    <a class="btn btn_blue btn_small " href="https://my.eforex.com/registration.html" target="_blank" rel="nofollow" i18n-aria-label="header button 1|@@header_btn1" aria-label="Sign Up" i18n="@@header_btn1">Sign Up</a>
  </div>
  <a class="private_btn2 " href="https://my.eforex.com/login.html" target="_blank" rel="nofollow" i18n-aria-label="header button 2|@@header_btn2" aria-label="Login" i18n="@@header_btn2">Login</a>
</div>
