<div class="traderPc_sec1 active_animate">
  <div class="fadeInUp animate duration_05">
    <div class="contentCenter ">
      <div class="traderPc_sec1_logo">
        <picture>
          <source type="image/webp" srcset="/assets/traders-pc/top.webp 1x, /assets/traders-pc/top@2x.webp 2x ">
          <img src="/assets/traders-pc/top.png" srcset="/assets/traders-pc/top.png 1x, /assets/traders-pc/top@2x.png 2x" alt="eForex Private Cabinet">
        </picture>
      </div>
      <h1 class="traderPc_sec1_h txt_white">Professional All-in-One Solution for Introducing Brokers</h1>
      <div class="traderPc_sec1_btn">
        <a href="https://my.eforex.com/registrationIb.html" target="_blank" aria-label="Open eForex Account" rel="noreferrer noopener" class="btn btn_blue btn_mob">Open eForex Account</a>
      </div>
      <div class="traderPc_sec1_img">
        <picture>
          <source type="image/webp" srcset="/assets/partners-pc/top_img.webp 1x, /assets/partners-pc/top_img@2x.webp 2x ">
          <img  src="/assets/partners-pc/top_img.jpg" srcset="/assets/partners-pc/top_img.jpg 1x, /assets/partners-pc/top_img@2x.jpg 2x" alt="eForex Private Cabinet">
        </picture>
      </div>
    </div>

  </div>
</div>



<div class="traderPc_sec2">
  <div class="contentCenter ">


    <div class="traderPc_sec2_box " fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_2')">
      <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInLeft">
        <picture>
          <source type="image/webp" srcset="/assets/partners-pc/sec2_img0.webp 1x, /assets/partners-pc/sec2_img0@2x.webp 2x ">
          <img  src="/assets/partners-pc/sec2_img0.jpg" srcset="/assets/partners-pc/sec2_img0.jpg 1x, /assets/partners-pc/sec2_img0@2x.jpg 2x" alt="Real Time Commissions & Rebates & Spread Widening Monetization">
        </picture>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInRight">
        <h2 class="txt_white width635">Real Time Commissions & Rebates & Spread Widening Monetization</h2>
      </div>
    </div>

      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_1')">
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInLeft">
          <h2 class="txt_white width635">Free Professional Website Solution</h2>
        </div>
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInRight">
          <picture>
            <source type="image/webp" srcset="/assets/partners-pc/sec2_img1.webp 1x, /assets/partners-pc/sec2_img1@2x.webp 2x ">
            <img  src="/assets/partners-pc/sec2_img1.jpg" srcset="/assets/partners-pc/sec2_img1.jpg 1x, /assets/partners-pc/sec2_img1@2x.jpg 2x" alt="eForex Private Cabinet Free Professional Website Solution">
          </picture>
        </div>
      </div>

      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_2')">
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInLeft">
          <picture>
            <source type="image/webp" srcset="/assets/partners-pc/sec2_img2.webp 1x, /assets/partners-pc/sec2_img2@2x.webp 2x ">
            <img  src="/assets/partners-pc/sec2_img2.jpg" srcset="/assets/partners-pc/sec2_img2.jpg 1x, /assets/partners-pc/sec2_img2@2x.jpg 2x" alt="eForex Private Cabinet Affiliate Links">
          </picture>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInRight">
          <h2 class="txt_white width635">Affiliate Links</h2>

        </div>
      </div>

      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_3')">
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInLeft">
          <h2 class="txt_white width635">Variety of Trading Reports</h2>


        </div>
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInRight">
          <picture>
            <source type="image/webp" srcset="/assets/partners-pc/sec2_img3.webp 1x, /assets/partners-pc/sec2_img3@2x.webp 2x ">
            <img  src="/assets/partners-pc/sec2_img3.jpg" srcset="/assets/partners-pc/sec2_img3.jpg 1x, /assets/partners-pc/sec2_img3@2x.jpg 2x" alt="eForex Private Cabinet Trading Reports">
          </picture>
        </div>
      </div>


      <div class="traderPc_sec2_box traderPc_sec2_indent" fxLayout="row wrap" fxLayoutAlign="space-between center" inViewport (inViewportAction)="highlightTile($event,'section_3_3')">
        <div fxFlex="40" fxShow.gt-sm fxHide class="animate fadeInLeft">
          <picture>
            <source type="image/webp" srcset="/assets/partners-pc/sec2_img4.webp 1x, /assets/partners-pc/sec2_img4@2x.webp 2x ">
            <img  src="/assets/partners-pc/sec2_img4.jpg" srcset="/assets/partners-pc/sec2_img4.jpg 1x, /assets/partners-pc/sec2_img4@2x.jpg 2x" alt="Fully Electronic Client Onboarding Process">
          </picture>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="45" class="animate fadeInRight">
          <h2 class="txt_white width635">Fully Electronic Client Onboarding Process</h2>

        </div>
      </div>

  </div>
</div>

<div class="traderPc_sec3">
  <div class="contentCenter ">
    <div class="traderPc_sec3_box">
      <h2 class="traderPc_sec3_box_h txt_white">eForex Private Cabinet</h2>
      <p class="traderPc_sec3_box_txt txt_white m_t_mob">Open live and training accounts, get exclusive trading conditions with No Dealing Desk environment,
        enjoy immediate deposits and get the full advantage of the eForex Bonus programs.</p>
      <div class="traderPc_sec3_box_btn m_t_mob">
        <a href="https://my.eforex.com/registrationIb.html" target="_blank" aria-label="Open eForex Account" rel="noreferrer noopener" class="btn btn_blue btn_mob">Open eForex Account</a>
      </div>
    </div>
  </div>
</div>




