@import "src/scss/mixin";
@import "src/scss/variables";

.education_sec1{
  background-color: #091c27;
  position: relative;
  padding:$h_t_indent_pc 0 $indent_pc 0;
  @include respond_to(tab) {
    padding: $h_t_indent_tab 0 $indent_tab 0;
  }
  &_h{
    text-align: center;
    @include respond_to(tab) {
      text-align: left;
    }
  }
  &_info{
    margin-top:$indent_pc;
    padding:$indent_pc 100px;
    background-color: white;
    height:870px;
    @include respond_to(tab) {
      padding: 11% 3%;
    }

  }
}




