<span *ngIf="url.length === 0; then thenBlock else elseBlock" ></span>
<ng-template #thenBlock >
  <div [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'cat_name_v2':!item.route}">{{item.displayName}}</div>
  <span >
      <app-menu-footer-list-item *ngFor="let child of item.children" [item]="child" [parentPath]="parentPath" [depth]="depth+1"></app-menu-footer-list-item>
 </span>
</ng-template>
<ng-template #elseBlock>
  <a  mat-list-item [routerLink]="url.length ? url : null" [fragment]="item.anchor" (click)="onItemSelected(item)"  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'cat_name':!item.route}">{{item.displayName}}</a>
</ng-template>

